{include file="public/header" /}


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->

         <style type="text/css" media="screen">
    @media (min-width: 1400px){
       .col-lg-1 {
           width: 12.333333%;
       }
        .col-lg-3 {
           width: 27%;
        }

}
  @media (min-width: 1300px){
       .col-lg-1 {
           width: 13.333333%;
       }
        .col-lg-3 {
           width: 27%;
        }

}
  @media (min-width: 1200px){
       .col-lg-1 {
           width: 14.333333%;
       }
        .col-lg-3 {
           width: 27%;
        }

}

 @media (min-width: 1600px){
       .col-lg-1 {
           width: 10.333333%;
       }
        .col-lg-3 {
           width: 27%;
        }

}
      .widget-user .wid-u-info {
          margin-left: 30px;
        }
         </style>
            <div class="content-page" >
                <!-- Start content -->
                <div class="content">
                    <div class="container">
<!--第一行-->
                    <div class="row" style="    border-bottom: 2px solid #ccc;margin-bottom: 40px;padding-bottom: 20px;">
                            <div class="col-lg-3 col-md-6">
                                <div class="card-box">

                                    <h4 class="header-title m-t-0 m-b-30">商品数</h4>

                                    <div class="widget-chart-1">
                                        <div class="widget-chart-box-1">
                                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#ffbd4a" data-bgColor="#FFE6BA" value="80" data-skin="tron" data-angleOffset="180" data-readOnly=true data-thickness=".15"/>
                                        </div>
                                        <div class="widget-detail-1">
                                            <a href="{:url('Goods/index')}?status=2"><h2 class="p-t-10 m-b-0"> {$goods_count} </h2>
                                                <p class="text-muted">今日上架</p></a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->


                        </div>
<!--第二行-->
                        <div class="row" style="border-bottom: 2px solid #ccc;margin-bottom: 40px;padding-bottom: 20px;">
                           <div class="col-lg-1 col-md-6">
                                <div class="card-box">
                                   <!-- <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">行动</a></li>
                                            <li><a href="#">另一个动作</a></li>
                                            <li><a href="#">别的东西在这里</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">分离的链接</a></li>
                                        </ul>
                                    </div>-->

                                    <h4 class="header-title m-t-0 m-b-30">总人数</h4>

                                    <div class="widget-chart-1">
                                        <div class="widget-chart-box-1">
                                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 " data-bgColor="#F9B9B9" value="58" data-skin="tron" data-angleOffset="180" data-readOnly=true data-thickness=".15"/>
                                        </div>

                                        <div class="widget-detail-1">
                                            <a href=""><h2 class="p-t-10 m-b-0">&nbsp;</h2>
                                                <p class="text-muted">&nbsp;</p></a>
                                        </div>
                                    </div>
                                </div>


                            </div><!-- end col -->

                             <div class="col-lg-2 col-md-6">
                                <div class="card-box widget-user" style="   min-height: 50px; padding: 12px; ">
                                    <div>
                                        <div class="wid-u-info">
                                            <a href="{:url('User/index',array('type'=>2))}"><h4 class="m-t-0 m-b-5 font-600">{$merchant_count}</h4>
                                                <p class="text-muted m-b-5 font-13">招生淘客数</p>
                                                <!--<small class="text-warning"><b>管理</b></small>--></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-box widget-user" style="min-height: 50px; padding: 12px;  ">
                                    <div>
                                        <!--<img src="__STATIC__/admin/images/users/avatar-2.jpg" class="img-responsive img-circle" alt="user">-->
                                        <div class="wid-u-info">
                                            <a href="{:url('User/applyMerchant',array('status'=>1))}"><h4 class="m-t-0 m-b-5 font-600">{$apply_merchant_count}</h4>
                                                <p class="text-muted m-b-5 font-13">淘客申请审核</p></a>
                                            <!--<small class="text-custom"><b>支持引导</b></small>-->
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->

                            <div class="col-lg-2 col-md-6">
                                
                            </div><!-- end col -->
                            
                        </div>
                        <!-- end row -->
                        <!--第三行-->
                       <div class="row" style="  ">
                           <div class="col-lg-1 col-md-6">
                                <div class="card-box">
                                   <!-- <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                                            <i class="zmdi zmdi-more-vert"></i>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">行动</a></li>
                                            <li><a href="#">另一个动作</a></li>
                                            <li><a href="#">别的东西在这里</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">分离的链接</a></li>
                                        </ul>
                                    </div>-->

                                    <h4 class="header-title m-t-0 m-b-30" style="font-size: 14px">商品待审核</h4>

                                    <div class="widget-chart-1">
                                        <div class="widget-chart-box-1">
                                            <input data-plugin="knob" data-width="80" data-height="80" data-fgColor="#f05050 " data-bgColor="#F9B9B9" value="58" data-skin="tron" data-angleOffset="180" data-readOnly=true data-thickness=".15"/>
                                        </div>

                                        <div class="widget-detail-1">
                                            <a href=""><h2 class="p-t-10 m-b-0">&nbsp;</h2>
                                                <p class="text-muted">&nbsp;</p></a>
                                        </div>
                                    </div>
                                </div>


                            </div><!-- end col -->

                             <div class="col-lg-2 col-md-6">
                                <div class="card-box widget-user" style=" min-height: 50px; padding: 12px;  ">
                                    <div>
                                        <div class="wid-u-info">
                                            <a href="{:url('Goods/getCheck',array('type'=>1))}"><h4 class="m-t-0 m-b-5 font-600">{$wait_for_check[1]}</h4>
                                                <p class="text-muted m-b-5 font-13">爆款单审核</p>
                                                <!--<small class="text-warning"><b>管理</b></small>--></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-box widget-user" style="    min-height: 50px; padding: 12px; ">
                                    <div>
                                        <!--<img src="__STATIC__/admin/images/users/avatar-2.jpg" class="img-responsive img-circle" alt="user">-->
                                        <div class="wid-u-info">
                                            <a href="{:url('Goods/getCheck',array('type'=>3))}"><h4 class="m-t-0 m-b-5 font-600"> {$wait_for_check[3]}</h4>
                                                <p class="text-muted m-b-5 font-13">过夜单审核</p></a>
                                            <!--<small class="text-custom"><b>支持引导</b></small>-->
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->

                                <div class="col-lg-2 col-md-6">
                                <div class="card-box widget-user" style="   min-height: 50px; padding: 12px;  ">
                                    <div>
                                        <div class="wid-u-info">
                                            <a href="{:url('Goods/getCheck',array('type'=>2))}"><h4 class="m-t-0 m-b-5 font-600">{$wait_for_check[2]}</h4>
                                                <p class="text-muted m-b-5 font-13">限时抢购审核</p>
                                                <!--<small class="text-warning"><b>管理</b></small>--></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-box widget-user" style="   min-height: 50px; padding: 12px;  ">
                                    <div>
                                        <!--<img src="__STATIC__/admin/images/users/avatar-2.jpg" class="img-responsive img-circle" alt="user">-->
                                        <div class="wid-u-info">
                                            <a href="{:url('Goods/getCheck',array('type'=>5))}"><h4 class="m-t-0 m-b-5 font-600"> {$wait_for_check[5]}</h4>
                                                <p class="text-muted m-b-5 font-13">视频单审核</p></a>
                                            <!--<small class="text-custom"><b>支持引导</b></small>-->
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end col -->

                              <div class="col-lg-2 col-md-6">
                                <div class="card-box widget-user" style="    min-height: 50px; padding: 12px;">
                                    <div>
                                        <div class="wid-u-info">
                                            <a href="{:url('Goods/getCheck',array('type'=>4))}"><h4 class="m-t-0 m-b-5 font-600">{$wait_for_check[4]}</h4>
                                                <p class="text-muted m-b-5 font-13">直播单审核</p>
                                                <!--<small class="text-warning"><b>管理</b></small>--></a>
                                        </div>
                                    </div>
                                </div>

                             
                            </div><!-- end col -->

                            <div class="col-lg-2 col-md-6">
                                
                            </div><!-- end col -->
                            
                        </div>
                        <!-- end row -->




                    </div> <!-- container -->

                </div> <!-- content -->

              <!--   <footer class="footer text-right">
                    2016 © Jane小憩Place to.
                </footer> -->

            </div>
          


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


            <!-- Right Sidebar -->
            <!-- /Right-bar -->

        </div>
        <!-- END wrapper -->



        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="__STATIC__/admin/js/jquery.min.js"></script>
        <script src="__STATIC__/admin/js/bootstrap.min.js"></script>
        <script src="__STATIC__/admin/js/detect.js"></script>
        <script src="__STATIC__/admin/js/fastclick.js"></script>
        <script src="__STATIC__/admin/js/jquery.slimscroll.js"></script>
        <script src="__STATIC__/admin/js/jquery.blockUI.js"></script>
        <script src="__STATIC__/admin/js/waves.js"></script>
        <script src="__STATIC__/admin/js/jquery.nicescroll.js"></script>
        <script src="__STATIC__/admin/js/jquery.scrollTo.min.js"></script>

        <!-- KNOB JS -->
        <!--[if IE]>
        <script type="text/javascript" src="__STATIC__/admin/plugins/jquery-knob/excanvas.js"></script>
        <![endif]-->
        <script src="__STATIC__/admin/plugins/jquery-knob/jquery.knob.js"></script>

        <!--Morris Chart-->
        <script src="__STATIC__/admin/plugins/morris/morris.min.js"></script>
        <script src="__STATIC__/admin/plugins/raphael/raphael-min.js"></script>

        <!-- Dashboard init -->
        <script src="__STATIC__/admin/pages/jquery.dashboard.js"></script>

        <!-- App js -->
        <script src="__STATIC__/admin/js/jquery.core.js"></script>
        <script src="__STATIC__/admin/js/jquery.app.js"></script>

    </body>
</html>