
<footer class="footer">
    2016 © Jane小憩Place to.
</footer>
<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="__STATIC__/admin/js/jquery.min.js"></script>
<script src="__STATIC__/admin/js/bootstrap.min.js"></script>
<script src="__STATIC__/admin/js/detect.js"></script>
<script src="__STATIC__/admin/js/fastclick.js"></script>
<script src="__STATIC__/admin/js/jquery.slimscroll.js"></script>
<script src="__STATIC__/admin/js/jquery.blockUI.js"></script>
<script src="__STATIC__/admin/js/waves.js"></script>
<script src="__STATIC__/admin/js/jquery.nicescroll.js"></script>
<script src="__STATIC__/admin/js/jquery.scrollTo.min.js"></script>

<!-- Validation js (Parsleyjs) -->
<script type="text/javascript" src="__STATIC__/admin/plugins/parsleyjs/dist/parsley.min.js"></script>

<!-- App js -->
<script src="__STATIC__/admin/js/jquery.core.js"></script>
<script src="__STATIC__/admin/js/jquery.app.js"></script>

</body>
</html>