{include file="public/header" /}
<!-- 加载每个页面内容-->
  <style type="text/css" media="screen">
        .con .good .good-list ul li {height: 495px;}
            
        </style>
<div class="con">
    <div class="content">
        <div class="hot">
            <img src="/static/index/images/fsale.png" alt="限时抢购" style="padding-top: 64px">
            <span class="f12">
                <img src="/static/index/images/tu.png" alt="">
                &nbsp;在线淘客数：{$online_num}人
            </span>
        </div>
        <div class="fsale-dec">
            <div class="fsale-box">
                <p>
                    这里有聚划算、淘抢购每天限时秒杀的好单子，
                    <br/>
                    经过筛选，都是高佣计划，
                    <br/>
                    已优选优惠券给大家转化率最高的肉单！
                </p>
            </div>
        </div>

        <div class="purchase">
            <div class="qiang fl {if $type == 1}yy{/if}" onclick="jump('1')">
                <img src="__STATIC__/index/images/{if $type==1}qiang{else}qiang1-img{/if}.png" alt=""  class="qiang-img">
                &nbsp;正在抢购
            </div>
            <div class="yugao fl {if $type == 2}yy{/if}" onclick="jump('2')">
                <img src="__STATIC__/index/images/{if $type==1}yugao{else}yugao1-img{/if}.png" alt="" class="yugao-img">
                &nbsp;预告
            </div>
        </div>

        <div class="good {if $type == 1}goodqiang{else}goodyugao{/if}">
            <div class="good-list">
                <ul>
                    {foreach $goods_list as $val}
                    <li data_id="{$val.id}">
                        <div class="good-img">
                            <a href="/goods?id={$val.id}" target="_blank"><img src="{$val.main_img}"></a>
                        </div>
                        <div class="good-ppai">
                            <span class="f12">
                            {if $val.activity_type == 1}聚划算{else}淘抢购{/if}
                            </span>
                        </div>
                        <div class="good-collect">
                            <a  href="javascript:;" class="add_cart_large btnCart"><img src="/static/index/images/sc.png" alt=""></a>
                        </div>
                        <div class="good-title">
                            <a href="/goods?id={$val.id}" title="{$val.short_title}" target="_blank">
                                <i class="tk-icon-14 icon-taobao">
                                </i>
                                {$val.title}
                            </a>
                        </div>
                        
                        <div class="good-bei">
                            <p class="fl f12 p1" style="color: #fd9546">{$extends[$val.id]['short_guide']}</p>
                            <p class="fr"><img src="/static/index/images/tao.png" alt="" style="width: 20px; height: 18px;"></p>
                            <div class="clear"></div>
                        </div>

                        <div class="good-fit">
                            <div class="quan fl">
                                ￥{:sprintf('%0.2f',$val.coupon_money)}&nbsp;
                            </div>
                            <div class="charges f12 fl">
                                <img src="/static/index/images/yj.png" alt="">
                                佣金
                                <span class="a3">
                                    ￥{:sprintf('%0.2f',$val.taoke_money)}
                                </span>
                            </div>
                            <div class="plan f12 fl">
                                <img src="/static/index/images/jih.png" alt="">
                                计划
                                <span class="a3">
                                    {:round($val.taoke_money_percent)}%
                                </span>
                            </div>
                        </div>

                        <div class="good-yu f12">
                            <!--<span class="fl">
                                余券
                            </span>-->
                            <span class="fl">
                                全部{$val.coupon_total_num}
                            </span>
                        </div>

                        <div class="good-bar">
                            <div class="progress">
                                <div class="progress-bar" style="width: 100%; background: #f66d25;height: 3px;">
                                  <!--   <div class="progress-value" style="text-align: center;">
                                        {$val.coupon_total_num}
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="good-sales">
                            <div class="skipper fl f12">
                                {if $type==1}剩余{else}距离{/if}
                            </div>
                            <div class="lia fl f12" date="{$extends[$val.id]['diff_times']}">
                                <div class="countdown">
                                    <div>
                                        <i class="days">
                                            00
                                        </i>
                                    </div>
                                    <div class="seperator">
                                        天
                                    </div>
                                    <div>
                                        <i class="hours">
                                            00
                                        </i>
                                      
                                    </div>
                                    <div class="seperator">
                                        时
                                    </div>
                                    <div>
                                        <i class="minutes">
                                            00
                                        </i>
                                      
                                    </div>
                                    <div class="seperator">
                                        分
                                    </div>
                                    <div>
                                        <i class="seconds">
                                            00
                                        </i>
                                    </div>
                                </div>

                            </div>
                             <div class="over fl f12">
                               &nbsp;&nbsp; {if $type==1}结束{else}开始{/if}
                            </div>
                            <div class="xiao fr f12">
                                销量&nbsp;{$val.sell_num}
                            </div>
                        </div>
                        <div class="good-line"></div>
                        <div class="good-price">
                            <div class="fl f14">
                                券后
                                <span class="f20 price">
                                    ￥{:sprintf('%0.2f',$val.real_money)}
                                </span>
                            </div>
                            <input class="fz fr copy f12" type="button" id="fz" value=" 复制文案">
                            </input>
                        </div>

                        <div class="yin">
                            <div class="good-line">
                            </div>
                            <div class="good-jian">
                                <p class="f12">
                                    <span class="f12">
                                        推荐：
                                    </span>
                                    {$val.guide_info}
                                </p>
                            </div>
                        </div>
                        
                        <div class="good-wenan fm" id="fm">
                            <div class="media-text-area f12 copy{$val.id}">
                                <img class='' src='{$val.main_img}'
                                style='width:66px;'>
                                <br/>
                                {$val.short_title}
                                <br>
                                【在售价{:sprintf('%0.2f',$val.price)}元，券后价{:sprintf('%0.2f',$val.real_money)}元】
                                <br/>
                                领券：{$val.coupon_link}
                                <br>
                                下单：{$val.link}
                                <br>
                                {$val.guide_info}
                            </div>
                        </div>

                    </li>
                    {/foreach}
                    <div id="flyItem" class="fly_item">
                      <img src="/static/index/images/sc.png" width="40" height="40">
                    </div>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="page">
                {$goods_list->render()}
            </div>
        </div>
    </div>        
</div>        
{include file="public/footer" /}
<script type="text/javascript" src="/static/index/js/jquery.downCount.js?v=1"></script>

<script type="text/javascript">
    $('.lia').each(function(){
        var day = $(this).attr('date');
        $(this).downCount({
            date: day,
            offset: +10
        }, function () {});
    });

    function jump(type){
        window.location.href = '/flash_sale?type='+type;
    }
</script>


