{include file="public/header" /}
        <!-- 加载每个页面内容-->
        <div class="con">

        <div class="content">
                <div class="hot">
                    <img src="/static/index/images/baokuan.png" alt="爆款单" style="padding-top: 64px">
                    <span class="f12">
                        <img src="/static/index/images/tu.png" alt="">
                        &nbsp;在线淘客数：{$online_num}人
                    </span>
                </div>
                <div class="hot-dec">
                    <div class="hot-box">
                        <p>
                            我们会把全网所有优惠券产品汇集起来
                            <br/>
                            然后检测单日领券量在3000张以上或者隔天5000张券以上
                            <br/>
                            爆款领券量、出单转化率等多个维度进行每日实时排行！
                        </p>
                    </div>
                </div>
                <div class="good">
                    <div class="good-list">
                        <ul>
                            <li>
                                <div class="good-img">
                                    <a href="/" target="_blank">
                                        <img src="http://acdn.taokezhushou.com/cloudimages/f91c46a099c95149d4468ade0c0d3509_taokezhushou.jpg@1e_1c_0o_0l_258h_258w_100q.src">
                                    </a>
                                </div>
                                <div class="good-collect">
                                    <a  href="javascript:;" class="add_cart_large btnCart"><img src="/static/index/images/sc.png" alt=""></a>
                                </div>
                                <div class="good-title">
                                    <a href="/detail/548998256605" title="男女宝宝夏季套装2017新款儿童纯棉两件" target="_blank">
                                        <i class="tk-icon-14 icon-taobao">
                                        </i>
                                        男女宝宝夏季套装2017新款儿童纯棉两件 男女宝宝夏季套装2017新款儿童纯棉两件 男女宝宝夏季套装2017新款儿童纯棉两件
                                    </a>
                                </div>
                                <div class="good-fit">
                                    <div class="quan fl">
                                        ￥100.00&nbsp;
                                    </div>
                                    <div class="charges f12 fl">
                                        <img src="/static/index/images/yj.png" alt="">
                                        佣金
                                        <span class="a3">
                                            ￥30.00
                                        </span>
                                    </div>
                                    <div class="plan f12 fl">
                                        <img src="/static/index/images/jih.png" alt="">
                                        计划
                                        <span class="a3">
                                            20%
                                        </span>
                                    </div>
                                </div>
                                <div class="good-yu f12">
                                    <span class="fl">
                                        余券
                                    </span>
                                    <span class="fr">
                                        全10000
                                    </span>
                                </div>
                                <div class="good-bar">
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 55%; background: #f66d25;height: 3px;">
                                            <div class="progress-value">
                                                7235
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="good-sales">
                                    <div class="skipper fl f12">
                                        近2个小时跑单
                                    </div>
                                    <div class="lia fl f12">
                                        <span>
                                            2
                                        </span>
                                        <span>
                                            2
                                        </span>
                                        <span>
                                            2
                                        </span>
                                    </div>
                                    <div class="xiao fr f12">
                                        销量&nbsp;1212
                                    </div>
                                </div>
                                <div class="good-line">
                                </div>
                                <div class="good-price">
                                    <div class="fl f14">
                                        券后
                                        <span class="f20 price">
                                            ￥358.00
                                        </span>
                                    </div>
                                    <input class="fz fr copy f12" type="button" id="fz" value=" 复制文案">
                                    </input>
                                </div>
                                <div class="yin">
                                    <div class="good-line">
                                    </div>
                                    <div class="good-jian">
                                        <p class="f12">
                                            <span class="f12">
                                                推荐：
                                            </span>
                                            施华若世奇四叶草手链，带给你幸运。施华若世奇四叶草手链，带给你幸运。施华若世奇四叶草手链，带给你幸运
                                        </p>
                                    </div>
                                </div>
                                <div class="good-wenan fm" id="fm">
                                    <div class="media-text-area f12">
                                        <img class='' src='http://acdn.taokezhushou.com/cloudimages/f91c46a099c95149d4468ade0c0d3509_taokezhushou.jpg@1e_1c_0o_0l_258h_258w_100q.src'
                                        style='width:66px;'>
                                        <br/>
                                        成人脊椎保健修复荞麦枕头
                                        <br>
                                        【在售价39.90元，券后价19.90元】
                                        <br/>
                                        领券：http://shop.m.taobao.com/shop/coupon.htm?sellerId=2459933550&activityId=1a9522ca9e2f4d3097cb75bbcf1207b1
                                        <br>
                                        下单：https://item.taobao.com/item.htm?id=521116793998
                                        <br>
                                        全新小米壳填充物，新工艺颈椎枕头，优质面料，不褪色，不起球，不缩水，几十种花色款式选择，缓解颈部疲劳,改善睡眠质量~
                                    </div>
                                </div>
                            </li>              
                            <div id="flyItem" class="fly_item">
                              <img src="/static/index/images/sc.png" width="40" height="40">
                            </div>
                            <div class="clear">
                            </div>
                        </ul>
                    </div>
                </div>
        </div>
           
        </div>
{include file="public/footer" /}