{include file="public/header" /}
<!-- 加载每个页面内容-->
<div class="con">
    <div class="content">
        <div class="hot">
            <img src="/static/index/images/baokuan.png" alt="爆款单" style="padding-top: 64px">
            <span class="f12">
                <img src="/static/index/images/tu.png" alt="">
                <i style="position: relative;top: 24px;">&nbsp;在线淘客数：{$online_num}人</i>
            </span>
        </div>
        <div class="hot-dec">
            <div class="hot-box">
                <p>
                    我们会把全网所有优惠券产品汇集起来
                    <br/>
                    然后检测单日领券量在3000张以上或者隔天5000张券以上
                    <br/>
                    爆款领券量、出单转化率等多个维度进行每日实时排行！
                </p>
            </div>
        </div>
        <div class="good">
            <div class="good-list">
                <ul>
                    {foreach $goods_list as $val}
                    <li data_id="{$val.id}">
                        <div class="good-img">
                            <a href="/item?id={$val.id}" target="_blank"><img src="{$val.main_img}"></a>
                        </div>
                        <div class="good-collect">
                            <a  href="javascript:;" class="add_cart_large btnCart"><img src="/static/index/images/sc.png" alt=""></a>
                        </div>
                        <div class="good-title">
                            <a href="/item?id={$val.id}" title="{$val.short_title}" target="_blank">
                                <i class="{if $val.is_tmall}icon-tianmao{else}tk-icon-14{/if}">
                                </i>
                                {$val.title}
                            </a>
                        </div>
                        <div class="good-fit">
                            <div class="quan fl">
                                <span>{:round($val.coupon_money,2)}元</span>
                            </div>
                            <div class="charges f12 fl">
                                <img src="/static/index/images/yj.png" alt="">
                                佣金
                                <span class="a3">
                                    ￥{:round($val.taoke_money,2)}
                                </span>
                            </div>
                            <div class="plan f12 fl">
                                <img src="/static/index/images/jih.png" alt="">
                                计划
                                <span class="a3">
                                    {:round($val.taoke_money_percent,2)}%
                                </span>
                            </div>
                        </div>

                        <div class="good-yu f12">
                            <!--<span class="fl">
                                余券
                            </span>-->
                            <span class="fl">
                                全部{$val.coupon_total_num}
                            </span>
                        </div>

                        <div class="good-bar">
                            <div class="progress">
                                <div class="progress-bar" style="width: 100%; background: #f66d25;height: 3px;">
                                   <!--  <div class="progress-value" style="text-align: center;">
                                        {$val.coupon_total_num}
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="good-sales">
                            <div class="skipper fl f12">
                                近2个小时跑单
                            </div>
                            <div class="lia fl f12">
                                {if $val.two_hour_sell_num}
                                    {assign name="two_hour_sell_num" value=":str_split($val.two_hour_sell_num)" }
                                    
                                    {foreach $two_hour_sell_num as $v}
                                        <span>{$v}</span>
                                    {/foreach}
                                {/if}
                            </div>
                            <div class="xiao fr f12">
                                销量&nbsp;{$val.sell_num}
                            </div>
                        </div>
                        <div class="good-line"></div>
                        <div class="good-price">
                            <div class="fl f14">
                                券后
                                <span class="f20 price">
                                    ￥{:round($val.real_money,2)}
                                </span>
                            </div>
                            <input class="fz fr copy f12" type="button" value=" 复制文案">
                            </input>
                        </div>

                        <div class="yin">
                            <div class="good-line">
                            </div>
                            <div class="good-jian">
                                <p class="f12">
                                    <span class="f12">
                                        推荐：
                                    </span>
                                    {$val.guide_info}
                                </p>
                            </div>
                        </div>
                        
                        <div class="good-wenan fm">
                            <div class="media-text-area f12 copy{$val.id}">
                                <img class='' src='{$val.main_img}'
                                style='width:66px;'>
                                <br/>
                                {$val.short_title}
                                <br>
                                【在售价{:round($val.price,2)}元，券后价{:round($val.real_money,2)}元】
                                <br/>
                                领券：{$val.coupon_link}
                                <br>
                                下单：{$val.link}
                                <br>
                                {$val.guide_info}
                            </div>
                        </div>

                    </li>
                    {/foreach}
                    <div id="flyItem" class="fly_item">
                      <img src="/static/index/images/sc.png" width="40" height="40">
                    </div>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="page">
                {$goods_list->render()}
            </div>
        </div>
    </div>        
</div>        
{include file="public/footer" /}