{include file='public/header'}
<style>
    .alert_pid{
        border: 1px solid #1a99fb;
        border-radius: 7px;
        width: 90px;
        height: 30px;
        line-height: 8px;
        padding: 10px 18px;
        background: #1a99fb;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
    }
    #change_pid p{
        line-height: 44px;
    }
</style>
<!--<link rel="stylesheet" href="__STATIC__/index/css/style.css">-->
        <!-- 加载每个页面内容-->
        <div class="con">

        <div class="content" style="padding-top: 80px;">
             <div class="fl zuo" id="zuo">
            <div class="team">
               <div class="team-head">
                  <a href="/index/user/index"><img style="width:100px;height:100px;" src="{if $data.head_img}{$data.head_img}{else}/static/index/images/tou.png{/if}" alt=""></a>
                  <p class="f16">
                      <a href="/index/user/index">{$data.nickname}&nbsp;</a>
                      <span class="f12">
                          {if condition="$data.mtype eq 1"}个人
                            {else/}团队
                            {/if}
                      </span>
                  </p>
                  <div class="tubiao">
                      <a href="/index/user/index"><img src="__STATIC__/index/images/tubiao.png" alt=""></a>
                  </div>
                   
               </div>
            
               <div class="team-dec">
                  <div class="time fl">
                   <a href="/index/user/index"><p class="f12">入驻时间<br/><span class="f16">{$data.addday}天</span></p></a>
                   
                  </div>
                  <div class="line fl">
                    <a href="/index/goods/index.html"><p class="f12">在线商品<br/><span class="f16">{$data.line_goods_num}款</span></p>《</a>
                      
                  </div>
                   
               </div></div>
            <div class="xiang">

            <div class="xiang-price">
                <div class="fl f12">券后
                      <span class="f20 price">￥{:round($data.real_money,2)} </span>
                </div>
                <div class="fr">
                    {if condition="$data.is_tmall eq 1"}<!--天猫-->
                    <img style="width: 23px;height: 23px;" src="__STATIC__/index/images/tianmao.png" alt="">
                    {else/}
                    <img src="__STATIC__/index/images/tao.png" alt="">
                    {/if}&nbsp;&nbsp;
                </div>                 
            </div>

            <div class="xiang-fit">
               <div class="quan fl">￥{$data.coupon_money}</div>
               <div class="fr f12 ac">已领取:&nbsp;{$data.coupon_apply_num}/{$data.coupon_total_num}&nbsp;</div>
            </div>

            <div class="xiang-chan f12">
            <div class="changes fl">
             佣金：<span style="color: #333;">￥{$data.taoke_money}</span>
                
            </div>
            <div class="fr plan">
                计划：{$data.taoke_money_percent}%&nbsp;&nbsp;
            </div>
                
            </div>

            <div class="xiang-sc" id="collect_action">
                {if condition="$data.is_collect eq 1"}
                <p>已收藏</p>
                {else/}
                <p><a href="javascript:;" class="add_cart_large btnCart">点击收藏</a></p>
                {/if}
            <!-- <a  href="javascript:;" class="add_cart_large btnCart" style="color: #333;">收藏</a>-->
                
            </div></div>
            </div>


            <div class="fr you">
                  <div class="title">
                      <input type="hidden" name="gid" id="gid" value="{$data.id}">
                  <h1>{$data.short_title}</h1>
                  <p>—————详情介绍</p>
                      
                  </div>
                  <div class="you-content">
                  {volist name='extends_data' id='vo' key='key'}
                      {if condition='!empty($vo.url) eq true'}
                          <!--奇数-->
                          <div class="{if condition='$key % 2 eq 1'}con1 fl{else/}con2 fr{/if}">
                              <span >{$key}</span>
                              <div class="one one{$key}">
                                  {if condition='$vo.type eq 1'}<!--图片-->
                                      <div id="foo{$key}">
                                          <img src="{$vo.url}" alt="" width="200px" >
                                          <p>{$vo.content}</p>
                                      </div>
                                   <input type="button" name="" value="+复制" class="copy" data-clipboard-action="copy" data-clipboard-target="#foo{$key}">
                                  {else/}
                                      <div style="width: 294px;height: 295px;    margin-top: 20px;">
                                          <img src="{$data.main_img}" alt="" style="width: 100%;">
                                      </div><!--  <img src="__STATIC__/index/images/bigplay.png" alt="" class="bigplay" onclick="show()" class="btn">-->
                                      <!-- <input type="button" name="" value="↓下载视频" class="down"> -->
                                      <a href="{$vo.url}"><input type="button" name="" value="↓下载视频" class="down jp-play-down" ></a>
                                  {/if}
                              </div>
                          </div>
                      {/if}
                  {/volist}

                  <!-- <div class="con2 fr">
                     <span >2</span>
                        <div class="one one2">

                      <img src="__STATIC__/index/images/dec2.jpg" alt="">
                       <p>【东菱】全自动智能面包蛋糕机  汇集于颜值跟多功能一身的面包机，早餐睡前智能预约时间，让厨房新手的你解放双手，活动马上开始~~</p>

                       <input type="button" name="" value="+复制" class="copy2">

                      </div>
                  </div>

                    <div class="con1 fl">
                      <span >3</span>


                      <div class="one one3">

                        <div style="width: 294px;height: 295px;    margin-top: 20px;"><img src="__STATIC__/index/images/decvideo.png" alt="" style="width: 100%;"></div>
                        <img src="__STATIC__/index/images/bigplay.png" alt="" class="bigplay" onclick="show()" class="btn">
                       &lt;!&ndash; <input type="button" name="" value="↓下载视频" class="down"> &ndash;&gt;
                          <a href="__STATIC__/index/images/controller.mp4.txt"><input type="button" name="" value="↓下载视频" class="down jp-play-down" ></a>

                          
                      </div>
                  </div>
-->
                  <div class="clear">
                      
                  </div>


                  <div class="link">
                    <div class="one one4">
                        <div id="guide_info">
                          <img style="width:130px;height: auto" src="{if condition='!empty($data.long_img) eq true'}{$data.long_img}{else/}{$data.main_img}{/if}" alt="">
                          <p>
                              {$data.short_title}<br>
                              【淘抢购{$data.price}元】券后【{$data.real_money}元】<br>
                              领券：<a href="{$data.coupon_link}" target="_blank" class="lan">{$data.coupon_link}</a><br>
                              抢购：<br>
                              <a href="{$data.link}" target="_blank" class="lan">{$data.link}</a><br>
                              {$data.guide_info}
                          </p>
                        </div>

                       <input type="button" name="" value="一键转链"  class="yijian" onclick="show2()">
                       <input type="button" name="" value="+复制" class="fuzhi copy" data-clipboard-action="copy" data-clipboard-target="#guide_info">
                      </div>
                  </div>
                  </div>
            </div>
            <div class="clear">
            </div>
        </div>
          <div id="flyItem" class="fly_item">
            <img src="__STATIC__/index/images/sc.png" width="40" height="40">
        </div>

        <!--视频播放-->
<div class="lbOverlay"  onclick="closeDiv()"></div>
<div class="hidden_pro_au">
<img src="__STATIC__/index/images/close.png" alt=""  class="close" onclick="closeDiv()">
      <video width="562" height="408" src="__STATIC__/index/images/controller.mp4.txt"   controls="controls" class="video-js"></video>
        <p> <a href="__STATIC__/index/images/controller.mp4.txt"><input type="button" name="" value="↓下载视频" class="down jp-play-down" ></a></p>
</div>

<div class="lbOverlay"  onclick="closeDiv()"></div>
<div class="zhuanlian tanchu" style="width: 240px;height: 220px;background: #fff;text-align: center;padding: 30px;">
         <img src="__STATIC__/index/images/close.png" alt=""  class="close" onclick="closeDiv()" style="    position: absolute;right: 2px;top: 2px;z-index: 9;cursor: pointer;">
   <div class="">
     <img src="__STATIC__/index/images/dengl.png" alt="">
   </div>
   <!--前往登录-->
    <div id="change_pid">
        <p >你还没登录账号</p>
        <a href="/user_login"><input type="button"  value="前往登录" class="alert_pid"></a>
    </div>

  <!--前往更新-->
  <!--    <p style="line-height: 44px;">您的PID已过期</p>
   <a href="/index/user/set.html"><input type="button" name="" value="前往更新" style="border: 1px solid #1a99fb;border-radius: 7px;width: 90px;height: 30px;
    line-height: 8px;padding: 10px 18px;background: #1a99fb; color: #fff;cursor: pointer;font-size: 14px;"></a> -->

    <!--前往设置-->
    <!--  <p style="line-height: 44px;">请设置淘宝账号及PID</p>
   <a href="/index/user/set.html"><input type="button" name="" value="前往设置" style="border: 1px solid #1a99fb;border-radius: 7px;width: 90px;height: 30px;
    line-height: 8px;padding: 10px 18px;background: #1a99fb; color: #fff;cursor: pointer;font-size: 14px;"></a> -->
</div>


{include file="public/footer" /}
     <script type="text/javascript">
       //浮动左边导航
$(window).scroll(function(){
     if($(this).scrollTop() > 280){
        $("#zuo").addClass('zuofu');
     }
     else{
        $("#zuo").removeClass('zuofu');
     }
  })    
        </script>
<script>

function show(){
    $(".lbOverlay").css({"height":window.screen.availHeight});
    $(".lbOverlay").show();
 
    var st=$(document).scrollTop(); //页面滑动高度
    var objH=$(".hidden_pro_au").height();//浮动对象的高度
    var ch=$(window).height();//屏幕的高度  
    var objT=Number(st)+(Number(ch)-Number(objH))/2;   //思路  浮动高度+（（屏幕高度-对象高度））/2
    $(".hidden_pro_au").css("top",objT);
     
    var sl=$(document).scrollLeft(); //页面滑动左移宽度
    var objW=$(".hidden_pro_au").width();//浮动对象的宽度
    var cw=$(window).width();//屏幕的宽度  
    var objL=Number(sl)+(Number(cw)-Number(objW))/2; //思路  左移浮动宽度+（（屏幕宽度-对象宽度））/2
    $(".hidden_pro_au").css("left",objL);
    $(".hidden_pro_au").slideDown("20000");//这里显示方式多种效果
}
function show2(){
    var gid = $('#gid').val();
    $.get("{:url('Index/change_link')}",{gid:gid},function(data){
        var htmll = '';

        if (data.code == 200)
        {
            htmll += '200';//转链数据显示
        }
        else if (data.code == 101)
        {
            htmll += '<p >你还没登录账号</p><a href="/user_login"><input type="button" name="" value="前往登录" class="alert_pid"></a>';
        }
        else if (data.code == 102)
        {
            htmll += '<p >请先设置淘宝账号并设置PID</p> <a href="/index/user/set.html"><input type="button" value="前往设置" class="alert_pid"></a>';
        }
        else if (data.code == 103)
        {
            htmll += '<p >您的PID已过期,请重新设置</p> <a href="{:url('User/set')}"><input type="button" value="前往设置" class="alert_pid"></a>';
        }
        else if (data.code == 104)
        {
            htmll += '<p >您的PID有误,请重新设置</p> <a href="{:url('User/set')}"><input type="button" value="前往设置" class="alert_pid"></a>';
        }
        else
        {
            htmll += '<p>数据有误</p>';
        }
        $('#change_pid').html(htmll);

        $(".lbOverlay").css({"height":window.screen.availHeight});
        $(".lbOverlay").show();

        var st=$(document).scrollTop(); //页面滑动高度
        var objH=$(".zhuanlian").height();//浮动对象的高度
        var ch=$(window).height();//屏幕的高度
        var objT=Number(st)+(Number(ch)-Number(objH))/2;   //思路  浮动高度+（（屏幕高度-对象高度））/2
        $(".zhuanlian").css("top",objT);

        var sl=$(document).scrollLeft(); //页面滑动左移宽度
        var objW=$(".zhuanlian").width();//浮动对象的宽度
        var cw=$(window).width();//屏幕的宽度
        var objL=Number(sl)+(Number(cw)-Number(objW))/2; //思路  左移浮动宽度+（（屏幕宽度-对象宽度））/2
        $(".zhuanlian").css("left",objL);
        $(".zhuanlian").slideDown("20000");//这里显示方式多种效果
        $('.zhuanlian').show();
    });

}
function closeDiv(){
    $(".lbOverlay").hide();
    $(".hidden_pro_au").hide();
    $(".zhuanlian").hide();
}

$(document).ready(function(){
    $(window).scroll(function(){
        var top = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop;
        $(".hidden_pro_au").css({
            "top": (document.documentElement.clientHeight/2 + top - $(".hidden_pro_au").css("height").replace("px","")/2 )+"px",
            "left":($(window).width() - $(".hidden_pro_au").css("width").replace("px",""))/2 +"px"
        });
         $(".zhuanlian").css({
            "top": (document.documentElement.clientHeight/2 + top - $(".zhuanlian").css("height").replace("px","")/2 )+"px",
            "left":($(window).width() - $(".zhuanlian").css("width").replace("px",""))/2 +"px"
        });
    })
   
})

    //添加收藏数量
    // 元素以及其他一些变量
    var eleFlyElement = document.querySelector("#flyItem"),
            eleShopCart = document.querySelector("#shopCart");

    var cart_num = parseInt($('.cart_num').html());

    var numberItem = cart_num;

    // 抛物线运动
    var myParabola = funParabola(eleFlyElement, eleShopCart, {

        speed: 400,
        //抛物线速度
        curvature: 0.0008,
        //控制抛物线弧度
        complete: function() {

            eleFlyElement.style.visibility = "hidden";

            eleShopCart.querySelector("span").innerHTML = ++numberItem;

        }

    });

    // 绑定点击事件
    if (eleFlyElement && eleShopCart) {

        [].slice.call(document.getElementsByClassName("btnCart")).forEach(function(button) {

            button.addEventListener("click",
                    function(event) {
                        var gid = $('#gid').val();
                        $.get("{:url('Index/addCollect')}",{gid:gid}, function (data) {

                            if(data.code == 101){
                                window.location.href = data.url;return false;
                            }
                            if(data.code == 1){
                                // 滚动大小
                                var scrollLeft = document.documentElement.scrollLeft || document.body.scrollLeft || 0,
                                        scrollTop = document.documentElement.scrollTop || document.body.scrollTop || 0;

                                eleFlyElement.style.left = event.clientX + scrollLeft + "px";

                                eleFlyElement.style.top = event.clientY + scrollTop + "px";

                                eleFlyElement.style.visibility = "visible";

                                // 需要重定位
                                myParabola.position().move();

                                $('#collect_action').html("<p>已收藏</p>");return false;
                            }
                            alert(data.msg);return false;
                        });



                    });

        });

    }

    </script>