{include file="public/header" /}
<style>
    .con .good{margin-top: 64px;width: 1220px;}
    .con .good .good-list ul li{height: 580px;width: 380px;margin-right: 24px;}
    .con .good .good-list ul li .good-img{width: 380px;height: 380px;        overflow: hidden;}
    .con .good .good-list ul li .good-img img{
       
         transition:transform 0.4s;
    -moz-transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    }
    .con .good .good-list ul li .good-img img:hover{
         transform: scale(1.2);
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.12);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    }
    .con .good .good-list ul li .good-collect{top: 362px;z-index: 99}
    .countdown{color: #6fc1fe;}
    .countdown div i{width: 14px;background: none;color: #6fc1fe}
    .countdown div.seperator{color: #6fc1fe;line-height: 32px;}
    .con .good .good-list ul li .good-title {
    margin: 10px 10px 0;
}
</style>

<!-- 加载每个页面内容-->
<div class="con">
    <div class="content">
        <div class="hot">
            <img src="__STATIC__/index/images/live.png" alt="爆款单" style="padding-top: 64px">
            <span class="f12">
                <img src="__STATIC__/index/images/tu.png" alt="">
                &nbsp;在线淘客数：{$online_num}
            </span>
        </div>
        <div class="live-dec">
            <div class="live-box">
                <p>
                    直播做的好，单子跑不了，<br/>
                    每天直播预告多条产品介绍的好单子，<br/>
                    发单员会准时放出领券下单链接！
                </p>
            </div>
        </div>
        <div class="good">
            <div class="good-list" >
                <ul>
                    {foreach $goods_list as $val}
                    <li>
                        <div class="good-img">
                            <a href="/goods?id={$val.id}" target="_blank"><img src="{$val.main_img}"></a>
                        </div>
                        <div class="good-collect">
                            <a  href="javascript:;" class="add_cart_large btnCart"><img src="/static/index/images/sc.png" alt=""></a>
                        </div>
                        <div class="good-title">
                            <a href="/goods?id={$val.id}" title="{$val.short_title}" target="_blank">
                                <i class="tk-icon-14 icon-taobao">
                                </i>
                                {$val.title}
                            </a>
                        </div>
                        
                        <div class="good-fit">
                           <div class="fl f12" style="    width: 124px;    height: 23px;  line-height: 19px;">
                                券后
                                <span class="f16 price" style="color: #fe5c30;">
                                    ￥{:sprintf('%0.2f',$val.real_money)}
                                </span>
                            </div>
                            <div class="fl quan">
                               ￥{:sprintf('%0.2f',$val.coupon_money)}&nbsp;
                            </div>
                            <div class="charges f12 fr"  style="width: 110px;">
                                佣金
                                <span class="a3">
                                    ￥{:sprintf('%0.2f',$val.taoke_money)}
                                </span>
                                ({:round($val.taoke_money_percent)}%)
                            </div>
                        
                        </div>

                        <div class="good-lu">
                            <p>本单有<i class="lan">{$val['live_count']['1']}</i>段文字，<i class="lan">{$val['live_count']['1']}</i>张图片，<i class="lan">{$val['live_count']['2']}</i>段视频</p>
                        </div>

                        <div class="good-sales">
                            <!--<div class="skipper fl f12">
                                近2个小时跑单
                            </div>
                            <div class="lia fl f12">
                                <span>
                                    2
                                </span>
                                <span>
                                    2
                                </span>
                                <span>
                                    2
                                </span>
                            </div>-->
                            <div class="xiao fr f12">
                                销量&nbsp;{$val.sell_num}
                            </div>
                        </div>
                        <div class="good-line"></div>
                        <div class="good-price">
                            {if !$val.diff_time}
                                <div class="f14" style="text-align: center;">
                                  <p>已开放链接</p>
                                </div>
                            {else}
                                <div class="f14" style="text-align: center;">
                                    <p style="color: #6fc1fe;width: 146px;text-align: right" class="fl">距开抢还有:</p>
                                   <div class="lia fl f12" date='{$val.diff_time}'>
                                        <div class="countdown" >
                                            <div><i class="days">00</i></div>
                                            <div>天</div>
                                            <div><i class="hours">00</i></div>
                                            <div> 小时</div>
                                            <div class="seperator">:</div>
                                            <div><i class="minutes">00</i></div>
                                            <div> 分钟</div>
                                            <div class="seperator" >:</div>
                                            <div><i class="seconds">00</i></div>
                                            <div> 秒</div>
                                        </div>
                                    </div>
                                </div>
                            {/if}
                        </div>

                    </li>
                    {/foreach}
                    <div id="flyItem" class="fly_item">
                      <img src="/static/index/images/sc.png" width="40" height="40">
                    </div>
                    <div class="clear"></div>
                </ul>
            </div>
            <div class="page">
                {$goods_list->render()}
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/index/js/jquery.downCount.js?v=1"></script>
<script type="text/javascript">
    $('.lia').each(function(){
        var day = $(this).attr('date');
        $(this).downCount({
            date: day,
            offset: +10
        }, function () {});
    });
</script>