{include file='public/header' /}


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box task-detail">

                            <h4 class="header-title m-t-0 m-b-30"><a href="{:url('Consult/index')}" style="font-size: 18px;">Back</a></h4>
                            <p class="text-muted font-13 m-b-25">
                            </p>
                           <!-- <div class="media m-b-20">
                                <div class="media-body">
                                    <h4 class="media-heading m-b-0">Michael Zenaty</h4>
                                    <span class="label label-danger">Urgent</span>
                                </div>
                            </div>-->

                            <h4 class="font-600 m-b-20">标题：{$data.title}</h4>

                            <p class="text-muted">
                                {$data.content}
                            </p>
                        </div>

                    </div><!-- end col -->
                </div>
            </div> <!-- container -->
        </div> <!-- content -->

        <footer class="footer">
            2016 © Jane小憩Place to.
        </footer>

    </div>


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->


    <!-- Right Sidebar -->

    <!-- /Right-bar -->

</div>
<!-- END wrapper -->
{include file='public/footer' /}

<!--form wysiwig js-->
<script src="__STATIC__/admin/plugins/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('form').parsley();
    });

    function check(){
        var title = $('input[name=title]').val();
        //var content = $('#tinymce').html();
        //var content =  tinyMCE.activeEditor.getContent();
        var content = tinymce.get('elm1').getContent();
        if(title == '' ||content == ''){
            alert('数据不可为空');return false;
        }

        $('form').submit();
        /*$.post("{:url('Consult/addConsult')}",{title:title,content:content}, function (dat) {
         var data = JSON.parse(dat);
         alert(data.msg);
         if(data.status == 1) {
         //成功 跳转到用户列表
         window.location.href = "{:url('Consult/index')}";
         }
         return false;
         });*/
    }

    $(document).ready(function () {
        if($("#elm1").length > 0){
            tinymce.init({
                selector: "textarea#elm1",
                theme: "modern",
                height:300,
                plugins: [
                    "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "save table contextmenu directionality emoticons template paste textcolor"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons",
                style_formats: [
                    {title: 'Bold text', inline: 'b'},
                    {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
                    {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
                    {title: 'Example 1', inline: 'span', classes: 'example1'},
                    {title: 'Example 2', inline: 'span', classes: 'example2'},
                    {title: 'Table styles'},
                    {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
                ]
            });
        }
    });
</script>
