{include file='public/header' /}
<script src="__STATIC__/admin/js/uploadPreview.js"></script>
<link href="__STATIC__/admin/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="__STATIC__/admin/plugins/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
<link href="__STATIC__/admin/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="__STATIC__/admin/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<!--<link href="__STATIC__/admin/plugins/fileuploads/css/dropify.min.css" rel="stylesheet" type="text/css" />-->
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">


                        <!--<div class="dropdown pull-right">
                                <a href="{:url('Menu/addMenu')}" class="card-drop">添加用户</a>
                        </div>-->
                        <h4 class="header-title m-t-0 m-b-30">商品详情</h4>
                        <p class="text-muted font-13 m-b-25">
                        </p>
                        <form class="form-horizontal" role="form" action="{:url('Goods/edit1')}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-md-2 control-label">发布账号：</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" readonly="" value="{$data.phone}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">分类：</label>
                                <div class="col-md-10"><!--1爆款单2限时抢购3过夜单4直播单5视频单-->
                                    <input type="text" class="form-control" disabled=""
                                           {if condition="$data['type'] eq 1"}value="爆款单"
                                           {elseif condition="$data['type'] eq 2"}value="限时抢购"
                                           {elseif condition="$data['type'] eq 3"}value="过夜单"
                                           {elseif condition="$data['type'] eq 4"}value="直播单"
                                           {elseif condition="$data['type'] eq 5"}value="视频单"
                                           {/if}>
                                </div>
                            </div>
                            {if condition="$data.plan_type eq 4"}
                            <div class="form-group">
                                <label class="col-md-2 control-label" >营销计划链接：</label>
                                <div class="col-md-10">
                                    <input type="text" name="plan_link" value="{$data.plan_link}" class="form-control" >
                                </div>
                            </div>
                            {else/}
                            <div class="form-group">
                                <label class="col-md-2 control-label">宝贝链接：</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="link" value="{$data.link}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" >优惠券链接：</label>
                                <div class="col-md-10">
                                    <input type="text" name="coupon_link" value="{$data.coupon_link}" class="form-control" >
                                </div>
                            </div>
                           {/if}
                            <div class="form-group">
                                <label class="col-md-2 control-label">推广长图：</label>
                                <div class="col-md-4 warp" >
                                    <!--<input type="file" name="long_img"  class="dropify" data-default-file="__STATIC__/admin/images/gallery/1.jpg" />-->
                                    <input type="file" name="long_img" style="display: none;"  id="up_img_WU_FILE_0" >
                                    <img src="" alt="" id="imgShow_WU_FILE_0" class="img-circle thumb-xl img-thumbnail m-b-10"  onclick="$('#up_img_WU_FILE_0').click();">

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">主图：</label>
                                <div class="col-md-4">
                                    <img src="{$data.main_img}" alt="" class="img-circle thumb-xl img-thumbnail m-b-10">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">宝贝标题：</label>
                                <div class="col-md-10">
                                    <input type="text"  name="title" value="{$data.title}" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">宝贝短标题：</label>
                                <div class="col-md-10">
                                    <input type="text" name="short_title" value="{$data.short_title}" class="form-control">
                                </div>
                            </div>
                            <div class="form-group form-inline">
                                <label style="margin-left: 78px;">券后价：</label> <input type="text" style="margin-left: 17px;" name="real_money" class="form-control" value="{$data.real_money}">
                                <label style="margin-left: 27px;">原价：</label> <input  type="text"  name="price" class="form-control" value="{$data.price}">
                                <label style="margin-left: 27px;">销量：</label><input type="text"  name="sell_num" class="form-control"  value="{$data.sell_num}">
                            </div>
                            <div class="form-group form-inline">
                                <label style="margin-left: 94px;" >优惠：</label><input style="margin-left: 17px;" type="text" class="form-control"  value="{$data.coupon_money}" name="coupon_money">
                                <label style="margin-left: 10px;">总券数：</label><input type="text" class="form-control" value="{$data.coupon_total_num}" name="coupon_total_num">
                                <label style="margin-left: 10px;">已领券数：</label><input type="text" class="form-control" value="{$data.coupon_apply_num}" name="coupon_apply_num">
                            </div>
                            <div class="form-group form-inline">
                                <label style="margin-left: 22px;">优惠券开始时间：</label>
                                <input style="margin-left: 17px;" type="text"  class="form-control" value="{$data.coupon_start_time|date='Y-m-d H:i:s',###}">
                                <label style="margin-left: 23px;">优惠券结束时间：</label>
                                <input type="text"  class="form-control" value="{$data.coupon_end_time|date='Y-m-d H:i:s',###}">
                            </div>
                            {if condition="$data.plan_type neq 4"}
                            <div class="form-group">
                                <label class="col-md-2 control-label">计划类型：</label>
                                <input type="hidden" name="plan_type" value="{$data.plan_type}">
                                <div class="col-md-10 plantype"><!--1定向计划2通用计划3鹊桥4营销计划-->
                                    <button onclick="changeType(this,1)" type="button" style="border-radius: 6px;"
                                            {if condition="$data.plan_type eq 1"}class="btn btn-primary"
                                            {else/}class="btn btn-default"
                                    {/if}
                                    ><font><font>定向计划</font></font></button>
                                    <button onclick="changeType(this,2)" type="button" style="margin: 0 10px 0 10px;border-radius: 6px;"
                                            {if condition="$data.plan_type eq 2"}class="btn btn-primary"
                                            {else/}class="btn btn-default"
                                    {/if}
                                    ><font><font>通用计划</font></font></button>
                                    <button onclick="changeType(this,3)" type="button" style="margin: 0 10px 0 10px;border-radius: 6px;"
                                            {if condition="$data.plan_type eq 3"}class="btn btn-primary"
                                            {else/}class="btn btn-default"
                                    {/if}
                                    ><font><font>高佣鹊桥</font></font></button>
                                    <!--<button onclick="changeType(this,4)" type="button" style="margin: 0 10px 0 10px;border-radius: 6px;"
                                            {if condition="$data.plan_type eq 4"}class="btn btn-primary"
                                            {else/}class="btn btn-default"
                                            {/if}
                                            ><font><font>营销计划</font></font></button>-->
                                </div>
                            </div>

                            <div class="form-group jihualink" style="display:{if condition='$data.plan_type neq 1'} none{/if}">
                                <label class="col-md-2 control-label">计划链接：</label>
                                <div class="col-md-10">
                                    <input type="text"  name="plan_link" class="form-control" value="{$data.plan_link}">
                                </div>
                            </div>
                            {/if}
                            <div class="form-group">
                                <label class="col-md-2 control-label">佣金比例：</label>
                                <div class="col-md-10">
                                    <input type="text"  name="taoke_money_percent" class="form-control" value="{$data.taoke_money_percent}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">直播信息(图文)：</label>
                                <div class="col-sm-10 warp">
                                    <input type="file" name="long_img" style="display: none;"  id="up_img_WU_FILE_1" >
                                    <img src="" alt="" id="imgShow_WU_FILE_1" class="img-circle thumb-xl img-thumbnail m-b-10"  onclick="$('#up_img_WU_FILE_1').click();">
                                    <textarea class="form-control" rows="5" name="text[]"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">直播信息(图文)：</label>
                                <div class="col-sm-10 warp">
                                    <input type="file" name="long_img" style="display: none;"  id="up_img_WU_FILE_2" >
                                    <img src="" alt="" id="imgShow_WU_FILE_2" class="img-circle thumb-xl img-thumbnail m-b-10"  onclick="$('#up_img_WU_FILE_2').click();">
                                    <textarea class="form-control" rows="5" name="text[]"></textarea>
                                </div>
                            </div>
                            {if condition="!empty($data['image_text']) eq true"}
                            {volist name="data.image_text" id='vo' key='key'}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">直播信息(图文)：</label>
                                <!--<div class="col-sm-9" style="border:1px solid #E3E3E3;max-width: 100%;min-height: 90px;border-radius: 4px;padding: 7px 12px;font-size: 14px;margin-left: 10px;">-->
                                <div class="col-sm-10 warp">
                                    <!--<img src="__STATIC__/admin/images/users/avatar-1.jpg" alt="">-->
                                    <!--<input type="file" class="dropify" name="images[]" data-default-file="__STATIC__/admin/images/gallery/1.jpg"  />-->
                                    <input type="file" name="images[]" style="display: none;"  id="up_img_WU_FILE_{$key}" >
                                    <img src="" alt="" id="imgShow_WU_FILE_{$key}" class="img-circle thumb-xl img-thumbnail m-b-10"  onclick='$("#up_img_WU_FILE_"+{$key}+"").click();'>
                                    <textarea class="form-control" rows="5" name="text[]"></textarea>
                                </div>
                            </div>
                            {/volist}
                            {/if}
                            {if condition="!empty($data['video_link']) eq true"}
                            <div class="form-group">
                                <label class="col-md-2 control-label">直播信息(视频)：</label>
                                <div class="col-md-10">
                                    <input type="text"  name="video_link[]" class="form-control" value="">
                                    <a href="" target="_blank">查看视频</a>
                                </div>
                            </div>
                            {/if}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">推广文案：</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" name="guide_info">{$data.guide_info}</textarea>
                                </div>
                            </div>
                            <div class="form-group form-inline" >
                                <label class="col-sm-2 control-label">开始时间：</label>
                                <input style="margin-left: 17px;" type="text" class="form-control" placeholder="Helping text" value="{$data.start_time|date='Y-m-d H:i:s',###}">
                                <label style="margin-left: 23px;">结束时间：</label>
                                <input type="text" class="form-control" placeholder="Helping text"  value="{$data.end_time|date='Y-m-d H:i:s',###}">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Default Time Picker：</label>
                                <div class="input-group col-sm-8">

                                    <div class="bootstrap-timepicker" style="margin-left: 10px;">
                                        <input id="timepicker" name="timet" type="text" class="form-control" style="border-radius: 3px;">
                                    </div>
                                    <span class="input-group-addon bg-primary b-0 text-white"><i class="glyphicon glyphicon-time"></i></span>
                                </div><!-- input-group -->
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Auto Close：</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" name="dated" class="form-control" placeholder="mm/dd/yyyy" id="datepicker-autoclose">
                                        <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
                                    </div><!-- input-group -->
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">审核语：</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" name="submit_message">{$data.submit_message}</textarea>
                                </div>
                            </div>
                            <input type="hidden" name="gid" value="{$data.id}">
                            <div  style="margin-left: 142px;">
                                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-info waves-effect waves-light">提交</button>
                            </div>
                        </form>

                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->

</div>

<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
</div>
<!-- file uploads js -->

<!-- END wrapper -->
{include file='public/footer' /}
<!--<script src="__STATIC__/admin/plugins/fileuploads/js/dropify.min.js"></script>-->
<script src="__STATIC__/admin/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="__STATIC__/admin/plugins/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
<script src="__STATIC__/admin/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="__STATIC__/admin/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript">
   /* $('.dropify').dropify({
        messages: {
            'default': 'Drag and drop a file here or click',
            'replace': 'Drag and drop or click to replace',
            'remove': 'Remove',
            'error': 'Ooops, something wrong appended.'
        },
        error: {
            'fileSize': 'The file size is too big (1M max).'
        }
    });*/
    function changeType(obj,param) {
        $('input[name=plan_type]').val(param);
        $('.plantype button').siblings().attr('class', 'btn btn-default');
        $(obj).attr('class', 'btn btn-primary');
        if(param == 1 ){
            //显示计划链接
            $('.jihualink').css('display','block');
        }else{
            $('.jihualink').css('display','none');
        }
    }
   // Time Picker
   jQuery('#timepicker').timepicker({
       defaultTIme : false
   });
   jQuery('#timepicker2').timepicker({
       showMeridian : false
   });
   jQuery('#timepicker3').timepicker({
       minuteStep : 15
   });
   // Date Picker
   jQuery('#datepicker').datepicker();
   jQuery('#datepicker-autoclose').datepicker({
       autoclose: true,
       todayHighlight: true
   });
   jQuery('#datepicker-inline').datepicker();
   jQuery('#datepicker-multiple-date').datepicker({
       format: "mm/dd/yyyy",
       clearBtn: true,
       multidate: true,
       multidateSeparator: ","
   });
   jQuery('#date-range').datepicker({
       toggleActive: true
   });

</script>