{include file='public/header' /}
<script src="__STATIC__/admin/js/uploadPreview.js"></script>
<link type="text/css" href="__STATIC__/index/css/jquery-ui-1.8.16.custom.css" rel="stylesheet"  />
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<style>
    .ui-datepicker-year{
        color: black;
    }
    .ui-datepicker-month{
        color: black;
    }
    .main_img_sel i{
        position: absolute;
        width: 53px;
        height: 47px;
        font-size: 0;
        line-height: 0;
        right: 2px;
        bottom: 2px;
        background: url(__STATIC__/index/images/gouxuan.png) no-repeat right bottom;
        z-index: 99;
        display: none;
    }
    .selected i{
        display: block;
    }
</style>
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-box">


                        <!--<div class="dropdown pull-right">
                                <a href="{:url('Menu/addMenu')}" class="card-drop">添加用户</a>
                        </div>-->
                        <h4 class="header-title m-t-0 m-b-30">商品详情</h4>
                        <p class="text-muted font-13 m-b-25">
                        </p>
                        <form class="form-horizontal" role="form" action="{:url('Goods/edit1')}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="col-md-2 control-label">发布账号：</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" readonly="" value="{$data.phone}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">分类：</label>
                                <div class="col-md-10"><!--1爆款单2限时抢购3过夜单4直播单5视频单-->
                                    <input type="text" class="form-control" disabled=""
                                           {if condition="$data['type'] eq 1"}value="爆款单"
                                           {elseif condition="$data['type'] eq 2"}value="限时抢购"
                                           {elseif condition="$data['type'] eq 3"}value="过夜单"
                                           {elseif condition="$data['type'] eq 4"}value="直播单"
                                           {elseif condition="$data['type'] eq 5"}value="视频单"
                                           {/if}>
                                </div>
                            </div>
                            {if condition="$data.plan_type eq 4"}
                            <div class="form-group">
                                <label class="col-md-2 control-label">营销计划链接：</label>
                                <div class="col-md-10">
                                    <input type="text" name="plan_link" value="{$data.plan_link}" class="form-control" >
                                </div>
                            </div>
                            {else/}
                            <div class="form-group">
                                <label class="col-md-2 control-label">宝贝链接：</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control"  value="{$data.link}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" >优惠券链接：</label>
                                <div class="col-md-10">
                                    <input type="text"  value="{$data.coupon_link}" class="form-control" >
                                </div>
                            </div>
                           {/if}
                            <div class="form-group">
                                <label class="col-md-2 control-label">推广长图：</label>
                                <div class="col-md-4 warp" >
                                    <!--<input type="file" name="long_img"  class="dropify" data-default-file="__STATIC__/admin/images/gallery/1.jpg" />-->
                                    <input type="file" name="long_img" style="display: none;"  id="up_img_WU_FILE_0" >
                                    <img src="{if condition='!empty($data.long_img) eq true'}{$data.long_img}{else/}__STATIC__/index/images/shangc.png{/if}" alt="" id="imgShow_WU_FILE_0" class="img-square thumb-xl img-thumbnail m-b-10"  onclick="$('#up_img_WU_FILE_0').click();">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">主图：</label>
                                <input type="hidden" name="main_img" value="{if condition='!empty($data.main_img)'}{$data.main_img}{/if}">
                                {volist name='goods_images' id='vo'}
                                <div style="width: 140px;height: 120px;" onclick="select_img(this)" class="col-md-3 main_img_sel {if condition='$data.main_img eq $vo.image_url'}selected{/if}">
                                    <img src="{$vo.image_url}"  alt="" class="img-square thumb-xl img-thumbnail m-b-10 ">
                                    <i style="background: "></i>
                                </div>
                                {/volist}
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">宝贝标题：</label>
                                <div class="col-md-10">
                                    <input type="text" value="{$data.title}"  class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">宝贝短标题：</label>
                                <div class="col-md-10">
                                    <input type="text" name="short_title" value="{$data.short_title}" class="form-control">
                                </div>
                            </div>
                            <div class="form-group form-inline" >
                                <label class="col-sm-2 control-label">券后价：</label>
                                <input style="margin-left: 8px;" type="text" class="form-control"  name="real_money"  value="{$data.real_money}">
                                <label style="margin-left: 23px;">原价：</label>
                                <input type="text" class="form-control" value="{$data.price}">
                                <label style="margin-left: 23px;">销量：</label>
                                <input type="text" class="form-control" value="{$data.sell_num}">
                            </div>
                            <div class="form-group form-inline" >
                                <label class="col-sm-2 control-label">优惠：</label>
                                <input style="margin-left: 8px;" type="text" class="form-control"  value="{$data.coupon_money}" name="coupon_money">
                                <label style="margin-left: 23px;">总券数：</label>
                                <input type="text" class="form-control" value="{$data.coupon_total_num}" name="coupon_total_num">
                                <label style="margin-left: 23px;">已领券数：</label>
                                <input type="text" class="form-control" value="{$data.coupon_apply_num}" name="coupon_apply_num">
                            </div>
                            <div class="form-group form-inline" >
                                <label class="col-sm-2 control-label">优惠券开始时间：</label>
                                <input style="margin-left: 8px;" type="text" class="form-control" name="coupon_start_time"  value="{$data.coupon_start_time|date='Y-m-d H:i:s',###}" id="coupon_start_time">
                                <label style="margin-left: 23px;">优惠券结束时间：</label>
                                <input type="text" class="form-control" name="coupon_end_time" value="{$data.coupon_end_time|date='Y-m-d H:i:s',###}" id="coupon_end_time">
                            </div>
                            {if condition="$data.plan_type neq 4"}
                            <div class="form-group">
                                <label class="col-md-2 control-label">计划类型：</label>
                                <input type="hidden" name="plan_type" value="{$data.plan_type}">
                                <div class="col-md-10 plantype"><!--1定向计划2通用计划3鹊桥4营销计划-->
                                    <button onclick="changeType(this,1)" type="button" style="border-radius: 6px;"
                                            {if condition="$data.plan_type eq 1"}class="btn btn-primary"
                                            {else/}class="btn btn-default"
                                    {/if}
                                    ><font><font>定向计划</font></font></button>
                                    <button onclick="changeType(this,2)" type="button" style="margin: 0 10px 0 10px;border-radius: 6px;"
                                            {if condition="$data.plan_type eq 2"}class="btn btn-primary"
                                            {else/}class="btn btn-default"
                                    {/if}
                                    ><font><font>通用计划</font></font></button>
                                    <button onclick="changeType(this,3)" type="button" style="margin: 0 10px 0 10px;border-radius: 6px;"
                                            {if condition="$data.plan_type eq 3"}class="btn btn-primary"
                                            {else/}class="btn btn-default"
                                    {/if}
                                    ><font><font>高佣鹊桥</font></font></button>
                                    <!--<button onclick="changeType(this,4)" type="button" style="margin: 0 10px 0 10px;border-radius: 6px;"
                                            {if condition="$data.plan_type eq 4"}class="btn btn-primary"
                                            {else/}class="btn btn-default"
                                            {/if}
                                            ><font><font>营销计划</font></font></button>-->
                                </div>
                            </div>

                            <div class="form-group jihualink" style="display:{if condition='$data.plan_type neq 1'} none{/if}">
                                <label class="col-md-2 control-label">计划链接：</label>
                                <div class="col-md-10">
                                    <input type="text"  name="plan_link" class="form-control" value="{$data.plan_link}">
                                </div>
                            </div>
                            {/if}
                            <div class="form-group">
                                <label class="col-md-2 control-label">佣金比例：</label>
                                <div class="col-md-10">
                                    <input type="text"  name="taoke_money_percent" class="form-control" value="{$data.taoke_money_percent}">
                                </div>
                            </div><!--1爆款单2限时抢购3过夜单4直播单5视频单-->
                            {if condition="$data.type eq 4"}
                            {volist name="live_data" id='vo' key='key'}
                            {if condition="!empty($vo.url) eq true"}
                            {if condition="$vo['type'] eq 1"}<!--图文-->
                            <div class="form-group">
                                <label class="col-sm-2 control-label">直播信息(图文)：</label>
                                <div class="col-sm-10 warp">
                                    <!--<img src="__STATIC__/admin/images/users/avatar-1.jpg" alt="">-->
                                    <!--<input type="file" class="dropify" name="images[]" data-default-file="__STATIC__/admin/images/gallery/1.jpg"  />-->
                                    <input type="file" name="pic_url[]" style="display: none;"  id="up_img_WU_FILE_{$key}" >
                                    <img src="{$vo.url}"  alt="" id="imgShow_WU_FILE_{$key}" class="img-square thumb-xl img-thumbnail m-b-10"  onclick='$("#up_img_WU_FILE_"+{$key}+"").click();' >
                                    <textarea class="form-control" rows="5" name="pic_content[]">{$vo.content}</textarea>
                                </div>
                            </div>
                            {else/}
                            <div class="form-group">
                                <label class="col-md-2 control-label">直播信息(视频)：</label>
                                <div class="col-md-10">
                                    <input type="text"  name="video_url[]" class="form-control" value="{$vo.url}">
                                    <a href="{$vo.url}" target="_blank">查看视频</a>
                                </div>
                            </div>
                            {/if}
                            {/if}
                            {/volist}
                            {/if}
                            {if condition="$data.type eq 5"}
                            <div class="form-group">
                                <label class="col-md-2 control-label">视频地址：</label>
                                <div class="col-md-10">
                                    <input type="text"  name="video_url" class="form-control" value="{$video_data.video_url}">
                                    <a href="{$video_data.video_url}" target="_blank">查看视频</a>
                                </div>
                            </div>
                            {/if}
                            <div class="form-group">
                                <label class="col-sm-2 control-label">推广文案：</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" name="guide_info">{$data.guide_info}</textarea>
                                </div>
                            </div>
                            <div class="form-group form-inline" >
                                <label class="col-sm-2 control-label">开始时间：</label>
                                <input style="margin-left: 8px;" type="text" class="form-control" name="start_time" value="{$data.start_time|date='Y-m-d H:i:s',###}" id="start_time">
                                <label style="margin-left: 23px;">结束时间：</label>
                                <input type="text" class="form-control" name="end_time"  value="{$data.end_time|date='Y-m-d H:i:s',###}" id="end_time">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">审核语：</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" rows="5" name="submit_message">{$data.submit_message}</textarea>
                                </div>
                            </div>
                            <input type="hidden" name="gid" value="{$data.id}">
                            <div  style="margin-left: 142px;">
                                <button type="submit" class="btn btn-info waves-effect waves-light">提交</button>
                            </div>
                        </form>

                    </div>
                </div><!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->

</div>

<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
</div>
<!-- file uploads js -->

<!-- END wrapper -->
{include file='public/footer' /}
<script  language="javascript" type="text/javascript" src="__STATIC__/index/js/jquery-1.4.2.min.js"></script>
<script  language="javascript" type="text/javascript" src="__STATIC__/index/js/jquery-ui-1.8.16.custom.min.js" charset='utf-8'></script>
<script language="javascript" type="text/javascript" src="__STATIC__/index/js/jquery-ui-timepicker-addon.js" charset='utf-8'></script>
<script language="javascript" type="text/javascript" src="__STATIC__/index/js/jquery.ui.datepicker-zh-CN.js" charset='utf-8'></script>
<script type="text/javascript">
   /* $('.dropify').dropify({
        messages: {
            'default': 'Drag and drop a file here or click',
            'replace': 'Drag and drop or click to replace',
            'remove': 'Remove',
            'error': 'Ooops, something wrong appended.'
        },
        error: {
            'fileSize': 'The file size is too big (1M max).'
        }
    });*/
   //时间选择器
   $(function(){
       $("#coupon_start_time").datetimepicker({
           changeYear : true,
           changeMonth : true,
           showSecond : true,
           timeFormat : 'hh:mm:ss',
           dateFormat : 'yy-mm-dd',
           stepHour : 1,
           stepMinute : 1,
           stepSecond : 1
       });
       $("#coupon_end_time").datetimepicker({
           changeYear : true,
           changeMonth : true,
           showSecond : true,
           timeFormat : 'hh:mm:ss',
           dateFormat : 'yy-mm-dd',
           stepHour : 1,
           stepMinute : 1,
           stepSecond : 1
       });
       $("#start_time").datetimepicker({
           changeYear : true,
           changeMonth : true,
           showSecond : true,
           timeFormat : 'hh:mm:ss',
           dateFormat : 'yy-mm-dd',
           stepHour : 1,
           stepMinute : 1,
           stepSecond : 1
       });
       $("#end_time").datetimepicker({
           changeYear : true,
           changeMonth : true,
           showSecond : true,
           timeFormat : 'hh:mm:ss',
           dateFormat : 'yy-mm-dd',
           stepHour : 1,
           stepMinute : 1,
           stepSecond : 1
       });
   });
    function changeType(obj,param) {
        $('input[name=plan_type]').val(param);
        $('.plantype button').siblings().attr('class', 'btn btn-default');
        $(obj).attr('class', 'btn btn-primary');
        if(param == 1 ){
            //显示计划链接
            $('.jihualink').css('display','block');
        }else{
            $('.jihualink').css('display','none');
        }
    }

   function select_img(obj){
       $(obj).addClass('selected').siblings().removeClass('selected');
       var vall = $(obj).children('img').attr('src');
       $('input[name=main_img]').val(vall);
   }
</script>