{include file='public/header' /}
<!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
        <style type="text/css" media="screen">


    table,thead,tbody,tr,td,th{
         text-align: center;
        height: 50px!important;
        line-height: 50px!important;
        vertical-align: middle!important;
        line-height: 20px!important; height: 20px!important;
    }
 .checkbox .shiwu:before {
   
    top: 0px!important;
}
 .checkbox label:before {
   
    top: 5px;
}
.checkbox label::after {
    
    top: -2px;
    
}
.checkbox .shiwu::after {
  
    top: -2px!important;
   
}
.checkbox label::after {
 
    top: 2px;
    
}
.table-responsive {
   
    overflow-x: visible!important;
}
    
        
    </style>
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <!--<div class="dropdown pull-right">
                                    <a href="{:url('Menu/addMenu')}" class="card-drop">添加用户</a>
                            </div>-->
                            <h4 class="header-title m-t-0 m-b-30">
                                {if condition="$type eq 1"}爆款单({$num})
                                {elseif condition="$type eq 2"}限时抢购({$num})
                                {elseif condition="$type eq 3"}过夜单({$num})
                                {elseif condition="$type eq 4"}直播单({$num})
                                {elseif condition="$type eq 5"}视频单({$num})
                                {/if}
                            </h4>
                            <p class="text-muted font-13 m-b-25">
                            </p>
                                <div class="hidden-xs" style="width:215px;right: 20px;position: absolute;top: 0;" >
                                    <form role="search" class="app-search" action="#" method="get">
                                        <input  type="text" placeholder="输入商品标题" name="keyword" class="form-control">
                                        <a ><i class="fa fa-search"></i></a>
                                    </form>

                                </div>
                            <div class="table-responsive">
                                <table class="table m-0" border="1" style="border: 1px  solid #d2d2d2">
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="checkbox checkbox-primary" >
                                                <input id="checkbox3" type="checkbox" onclick="getAll(this);">
                                                <label for="checkbox3" class="shiwu">选择</label>
                                            </div>
                                        </th>
                                        <th>编号</th>
                                        <th>图片</th>
                                        <th>短标题</th>
                                        <th>价格</th>
                                        <th>优惠券</th>
                                        <th>佣金</th>
                                        <th>发布账号</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name='data' id='vo' key="key"}
                                    <tr>
                                        <th>
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" name="gid[]" value="{$vo.id}">
                                                <label ></label>
                                            </div>
                                        </th>
                                        <th scope="row">{$key}</th>
                                        <td><img src="{$vo.main_img}" alt="" style="width: 100px;height: 100px;"></td>
                                        <td>{$vo.short_title}</td>
                                        <td>
                                            <label>¥{$vo.real_money}</label><br/>
                                            <label style="color: #ccc;"><del>¥{$vo.price}</del></label>
                                        </td>
                                       
                                         <td style="color: #ccc;">
                                            <label style="color: #333;">¥{$vo.coupon_money}</label><br/>
                                            <label>剩余：<i style="color: #333;">{$vo.coupon_apply_num}</i>/{$vo.coupon_total_num}</label><br/>
                                            <label>到期：{$vo.coupon_end_time|date='Y-m-d H:i:s',###}</label>
                                        </td>
                                        <td>
                                            <label>¥{$vo.taoke_money}</label><br/>
                                            <label style="color: #ccc;">计划：{$vo.taoke_money_percent}%</label>
                                        </td>
                                        <td>{$vo.phone}</td>
                                        <td>
                                            {if condition="$vo['status'] eq 1"}待审核
                                                {elseif condition="$vo['status'] eq 2"}展示
                                                {elseif condition="$vo['status'] eq 3"}过期
                                            {/if}
                                        </td>
                                        <td>
                                            <a data-toggle="modal" href="{:url('Goods/edit',array('gid'=>$vo['id']))}" data-target="#custom-width-modal" class="label label-primary" style="background: #9a9ce6!important;border: none!important;    padding: 5px 12px;">查看</a>
                                            <a onclick="passGood({$vo['id']});"  class="label label-purple" style="background: #10c469!important;border: none!important;    padding: 5px 12px;">通过</a>
                                       <!--     <a onclick="rejectGood({$vo['id']});"  class="label label-danger">拒绝</a>-->
                                            <button onclick="rejectGoodmodal({$vo['id']});" class="label label-danger waves-effect waves-light" data-toggle="modal" data-target=".reject-modal" style="background: #ee6e6e!important;border: none!important;    padding: 5px 12px;"><font><font>拒绝</font></font></button>
                                           <!-- <button onclick="getId({$vo['id']},{$vo['phone']});" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-sm"><font><font>修改密码</font></font></button>-->
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                                <a onclick="passMuchGood();"  class="label label-primary" style="position: relative;
    top: 10px;
    padding: 5px 20px;">通过</a>
                               <!-- <a onclick="rejectMuchGood();"  class="label label-danger">拒绝</a>-->
                                {$show}
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

    </div>
<!--获取用户详情-->
<div id="custom-width-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!--填写拒绝原因-->
<div class="modal fade reject-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">拒绝商品申请</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-md-2 control-label">拒绝理由：</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="5" name="remark"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">扣除积分：</label>
                                <div class="col-md-10">
                                    <input type="number" class="form-control" value="0" name="score" style="width: 300px;float: left;"><span style="line-height: 38px;margin-left: 9px;">分</span>
                                </div>
                            </div>
                            <input type="hidden" name="rejectid" value="">
                        </form>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
                    <button type="button" onclick="rejectGood()" class="btn btn-info waves-effect waves-light">提交</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /.modal end-->

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->
{include file='public/footer' /}
<script type="text/javascript">
    $("#custom-width-modal").on("hidden.bs.modal", function() {
        $(this).removeData("bs.modal");
    });
    $(".reject-modal").on("hidden.bs.modal", function() {
        $(this).removeData("bs.modal");
    });
    //获取全部CheckBox
    function getAll(obj){
        var liobj = $('input[type=checkbox]');
        //alert(liobj.length);
        for (var i = 0; i < liobj.length; i++) {
            if ($(obj).is(':checked')) {
                $(liobj[i]).prop("checked", 'true');
            } else {
                $(liobj[i]).removeAttr("checked");
            }
        }
        //obj.is(:checked) = true;
    }

    //显示modal id OR ids
    function rejectGoodmodal(param){
        $('input[name=rejectid]').val(param);
    }
    //拒绝一个商品的审核
    function rejectGood(){
        var param = $('input[name=rejectid]').val();
        var remark = $('textarea[name=remark]').val();
        var score = $('input[name=score]').val();
        if(!remark){
            alert('请输入拒绝原因!');
            $('textarea[name=remark]').select();
            return false;
        }
        //alert(remark);return false;
        if(confirm('当前操作不可恢复,确定要删除?')){
            //$.post("{:url('Goods/rejectGood')}",{gid:param}, function (dat) {
            $.post("{:url('Goods/changeStatus')}",{gid:param,type:3,remark:remark,score:score}, function (dat) {
                var data = JSON.parse(dat);
                alert(data.msg);
                if(data.status == 1){
                    window.location.href = window.location.href;
                }
                return false;
            });
        }
    }

    //拒绝多个商品的审核
    function rejectMuchGood(){
        var gids = $('input[type=checkbox]:checked');
        if(gids.length < 2 ){
            alert('请选择拒绝的商品审核');return false;
        }
        if(confirm('此操作不可恢复,请慎重')){
            var gidsarr = new Array();
            var k=0;
            for (var i = 0; i < gids.length; i++) {
                if (!isNaN(gids[i].value)) {
                    gidsarr[k] = gids[i].value;
                    k++;
                }
            }
            //$.post("{:url('Goods/rejectGood')}",{gids:gidsarr}, function (dat) {
            $.post("{:url('Goods/changeStatus')}",{gids:gidsarr,type:3}, function (dat) {
                var data = JSON.parse(dat);
                alert(data.msg);
                if(data.status == 1){
                    window.location.href = window.location.href;
                }
                return false;
            });
        }

    }

    //通过一个商品的审核
    function passGood(param){
        if(confirm('当前操作不可恢复,确定要执行?')){
            //$.post("{:url('Goods/passGood')}",{gid:param}, function (dat) {
            $.post("{:url('Goods/changeStatus')}",{gid:param,type:2}, function (dat) {
                var data = JSON.parse(dat);
                alert(data.msg);
                if(data.status == 1){
                    window.location.href = "{:url('Goods/index')}";
                }
                return false;
            });
        }
    }

    //通过多个商品的审核
    function passMuchGood(){
        var gids = $('input[type=checkbox]:checked');
        if(gids.length < 2 ){
            alert('请选择拒绝的商品审核');return false;
        }
        if(confirm('此操作不可恢复,请慎重')){
            //var gids = $('input[type=checkbox]:checked');
            var gidsarr = new Array();
            var k=0;
            for (var i = 0; i < gids.length; i++) {
                if (!isNaN(gids[i].value)) {
                    gidsarr[k] = gids[i].value;
                    k++;
                }
            }
            //$.post("{:url('Goods/passGood')}",{gids:gidsarr}, function (dat) {
            $.post("{:url('Goods/changeStatus')}",{gids:gidsarr,type:2}, function (dat) {
                    var data = JSON.parse(dat);
                    alert(data.msg);
                    if(data.status == 1){
                        window.location.href = "{:url('Goods/index')}";
                    }
                    return false;
                });
           // }
        }

    }


</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("table tr:odd").css("background","#eeeeee");
    });
</script>