{include file='public/header' /}
<!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
     <style type="text/css" media="screen">


    table,thead,tbody,tr,td,th{
        text-align: center;
        height: 50px!important;
        line-height: 50px!important;
        vertical-align: middle!important;
        line-height: 20px!important; height: 20px!important;
    }
/*   .checkbox .shiwu:before {
   
    top: 0px!important;
}
 .checkbox label:before {
   
    top: 5px;
} */
.quan label::before {
    top: 7px;
}
.quan label::after {
    top: -10px!important;
}
.checkbox, .radio {
   
    margin-top: 0px; 
    margin-bottom: 0px; 
}
.checkbox label::after {
   
    top: -2px;
 
}
.table-responsive {
   
    overflow-x: visible!important;
}

.seltype{
    color:#ff1493;
}
.selstatus{
    color:#ff1493;
}
/* .btn-primary {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    color: #333!important;
}
.btn-primary:hover {
  background-color: #fff !important;
   border: 1px solid #fff !important;
}
.btn-default {
    background-color:#fff;
    border-color: #fff;
}
       
 .btn-default:hover {
    background-color: #fff !important;
   border: 1px solid #fff !important;
}
.btn-sm{
    font-size: 14px;
}
.btn-group-sm > .btn, .btn-sm {
    padding: 5px 14px !important;
} */
      
    </style>
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box" >
                            <!--<div class="dropdown pull-right">
                                    <a href="{:url('Menu/addMenu')}" class="card-drop">添加用户</a>
                            </div>-->
                            <h4 class="header-title m-t-0 m-b-30">商品管理(共454)</h4>
                            <p class="text-muted font-13 m-b-25">
                            </p>

                          <!--   <div style="border: 1px  solid #eee;height: 50px;line-height: 50px;"> -->
                            <!--  <div class="" style="display: inline-block">
                                <a  class="btn btn-primary waves-effect waves-light">类型:</a>
                            </div> -->
                            <div class="" style="display: inline-block" >
                               <!--  <input id="checkbox4" type="checkbox" >
                                <label for="checkbox4" class="shiwu"></label> -->
                                <a onclick="getType(0);" class="btn  waves-effect waves-light {if condition='$param.type eq 0'}seltype{else/}btn-primary{/if}">全部</a>

                            </div>
                            <div class="" style="display: inline-block">
                             <!-- <input id="checkbox5" type="checkbox" >
                                <label for="checkbox5" class="shiwu"></label> -->
                                <a onclick="getType(1);" class="btn waves-effect waves-light {if condition='$param.type eq 1'}seltype{else/}btn-primary{/if}">爆款单</a>
                            </div>
                            <div class="" style="display: inline-block">
                           <!--   <input id="checkbox6" type="checkbox" >
                                <label for="checkbox6" class="shiwu"></label> -->
                                <a onclick="getType(2);"  class="btn waves-effect waves-light {if condition='$param.type eq 2'}seltype{else/}btn-primary{/if}">限时抢购</a>
                            </div>
                            <div class="" style="display: inline-block">
                            <!--  <input id="checkbox7" type="checkbox" >
                                <label for="checkbox7" class="shiwu"></label> -->
                                <a onclick="getType(3);"   class="btn waves-effect waves-light {if condition='$param.type eq 3'}seltype{else/}btn-primary{/if}">过夜单</a>
                            </div>
                            <div class="" style="display: inline-block">
                             <!-- <input id="checkbox8" type="checkbox" >
                                <label for="checkbox8" class="shiwu"></label> -->
                                <a onclick="getType(4);"  class="btn waves-effect waves-light {if condition='$param.type eq 4'}seltype{else/}btn-primary{/if}">直播单</a>
                            </div>
                            <div class="" style="display: inline-block">
                            <!--  <input id="checkbox9" type="checkbox" >
                                <label for="checkbox9" class="shiwu"></label> -->
                                <a onclick="getType(5);" class="btn waves-effect waves-light {if condition='$param.type eq 5'}seltype{else/}btn-primary{/if}">视频单</a>
                            </div><br/>
                        <!--   </div> -->

                     <!--    <div style="border: 1px  solid #eee;border-top:none;height: 50px;line-height: 50px;"> -->
                            <div class=" btn-group" >
                             <!--  <button  class="btn btn-default buttons-copy buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons">
                                <span>状态:</span>
                                </button> -->
                                <button onclick="getStatus(0);"  class="btn btn-default buttons-copy buttons-html5 btn-sm {if condition='$param.status eq 0'}selstatus{/if}" tabindex="0" aria-controls="datatable-buttons">
                                <span >全部</span>
                                </button>
                                <button onclick="getStatus(1);"  class="btn btn-default buttons-copy buttons-html5 btn-sm {if condition='$param.status eq 1'}selstatus{/if}" tabindex="0" aria-controls="datatable-buttons">
                                    <span>待审核</span>
                                </button>
                                <button onclick="getStatus(2);" class="btn btn-default buttons-csv buttons-html5 btn-sm {if condition='$param.status eq 2'}selstatus{/if}" tabindex="0" aria-controls="datatable-buttons">
                                    <span>展示</span>
                                </button>
                                <button onclick="getStatus(3);" class="btn btn-default buttons-excel buttons-html5 btn-sm {if condition='$param.status eq 3'}selstatus{/if}" tabindex="0" aria-controls="datatable-buttons">
                                    <span>过期</span>
                                </button>
                                <button onclick="getStatus(5);" class="btn btn-default buttons-excel buttons-html5 btn-sm {if condition='$param.status eq 5'}selstatus{/if}" tabindex="0" aria-controls="datatable-buttons">
                                    <span>下架</span>
                                </button>
                          <!--   </div> -->
<!-- 
                             <div class="" style="display: inline-block">
                                <a  class="btn btn-primary waves-effect waves-light">状态:</a>
                            </div>
                            <div class="checkbox checkbox-primary quan" style="display: inline-block">
                                <input id="checkbox10" type="checkbox" >
                                <label for="checkbox10" class="shiwu"></label>
                                <a onclick="getType(0);" class="btn btn-primary waves-effect waves-light">所有</a>

                            </div>
                            <div class="checkbox checkbox-primary quan" style="display: inline-block">
                             <input id="checkbox11" type="checkbox" >
                                <label for="checkbox11" class="shiwu"></label>
                                <a onclick="getType(1);" class="btn btn-primary waves-effect waves-light">正常</a>
                            </div>
                            <div class="checkbox checkbox-primary quan" style="display: inline-block">
                             <input id="checkbox12" type="checkbox" >
                                <label for="checkbox12" class="shiwu"></label>
                                <a onclick="getType(2);"  class="btn btn-primary waves-effect waves-light">下架</a>
                            </div>
                            -->
                           
                           
                            </div>
                            <!-- Right(Notification and Searchbox -->

                                <div class="hidden-xs" style="width:300px;right: 22px;position: absolute;top: 0px;" >
                                    <form role="search" class="app-search" action="#" method="get">
                                        <input  type="text" placeholder="输入商品名或用户手机" name="keyword" class="form-control">
                                        <a ><i class="fa fa-search"></i></a>
                                    </form>
                                    <input type="hidden" name="status" value="{$param.status}">
                                    <input type="hidden" name="type" value="{$param.type}">
                                </div>
                            <div class="table-responsive" style="margin-top: 20px;"  scroll='no'>
                                <table class="table m-0" border="1" style="border: 1px  solid #d2d2d2" >
                                    <thead>
                                    <tr>
                                        <th>
                                            <div class="checkbox checkbox-primary" >
                                                <input id="checkbox3" type="checkbox" onclick="getAll(this);">
                                                <label for="checkbox3" class="shiwu">选择</label>
                                            </div>
                                        </th>
                                        <th>编号</th>
                                        <th>图片</th>
                                        <th>短标题</th>
                                        <th>分类</th>
                                        <th>价格</th>
                                        <th>优惠券</th>
                                        <th>佣金</th>
                                        <th>发布账号</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name='data' id='vo' key="key"}
                                    <tr>
                                        <th>
                                            <div class="checkbox checkbox-primary">
                                                <input type="checkbox" name="gid[]" value="{$vo.id}">
                                                <label ></label>
                                            </div>
                                        </th>
                                        <th scope="row">{$key}</th>
                                        <td><img src="{$vo.main_img}" alt="" class="img-circle thumb-xl img-thumbnail m-b-10"></td>
                                        <td>{$vo.short_title}</td>
                                        <td>
                                            {if condition="$vo['type'] eq 1"}爆款单
                                                {elseif condition="$vo['type'] eq 2"}限时抢购
                                                {elseif condition="$vo['type'] eq 3"}过夜单
                                                {elseif condition="$vo['type'] eq 4"}直播单
                                                {elseif condition="$vo['type'] eq 5"}视频单
                                            {/if}
                                        </td>
                                        <td>
                                            <label>¥{$vo.real_money}</label><br/>
                                            <label class="deldel" style="color: #ccc;"><del>&nbsp;¥{$vo.price}</del></label>
                                        </td>
                                        <td style="color: #ccc;">
                                            <label style="color: #333;">¥{$vo.coupon_money}</label><br/>
                                            <label>剩余：<i style="color: #333;">{$vo.coupon_apply_num}</i>/{$vo.coupon_total_num}</label><br/>
                                            <label>到期：{$vo.coupon_end_time|date='Y-m-d H:i:s',###}</label>
                                        </td>
                                        <td>
                                            <label>¥{$vo.taoke_money}</label><br/>
                                            <label style="color: #ccc;">计划：{$vo.taoke_money_percent}%</label>
                                        </td>
                                        <td>{$vo.phone}</td>
                                        <td>
                                            {if condition="$vo['status'] eq 1"}待审核
                                                {elseif condition="$vo['status'] eq 2"}展示
                                                {elseif condition="$vo['status'] eq 3"}过期
                                            {/if}
                                        </td>
                                        <td>

                                            {if condition="$vo['is_delete'] eq 1"}
                                            <a class="label label-warning">已删除</a>
                                            {else/}
                                            <a style="background: #10c469!important;border: none!important;padding: 5px 12px;" href="{:url('Goods/edit1',array('gid'=>$vo['id']))}"  class="label label-purple">修改</a>
                                            <!--<a data-toggle="modal" href="{:url('Goods/edit',array('gid'=>$vo['id']))}" data-target="#custom-width-modal" class="label label-primary" style="background: #10c469!important;border: none!important;padding: 5px 12px;">修改</a>-->
                                            <a onclick="delGood({$vo['id']});"  class="label label-danger" style="background: #ff5b5b!important;border: none!important;    padding: 5px 12px;">删除</a>
                                            {/if}

                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                                <a onclick="delMuchGood();"  class="label label-primary" style="    position: relative;
    top: 10px;    padding: 5px 20px;">删除</a>
                                {$show}
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

    </div>
<!--获取用户详情-->
<div id="custom-width-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!-- /.modal end-->

    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->
{include file='public/footer' /}
<script type="text/javascript">
    $("#custom-width-modal").on("hidden.bs.modal", function() {
        $(this).removeData("bs.modal");
    });
    //获取全部CheckBox
    function getAll(obj){
        var liobj = $('input[type=checkbox]');
        //alert(liobj.length);
        for (var i = 0; i < liobj.length; i++) {
            if ($(obj).is(':checked')) {
                $(liobj[i]).prop("checked", 'true');
            } else {
                $(liobj[i]).removeAttr("checked");
            }
        }
        //obj.is(:checked) = true;
    }


    function getStatus(param){
        var type = $('input[name=type]').val();
       // alert(type);
        window.location.href = "{:url('Goods/index')}?status="+param+"&type="+type;
        //alert("{:url('Goods/index')}?status="+param+"&type="+type);
    }
    function getType(param){
        var status = $('input[name=status]').val();
        window.location.href = "{:url('Goods/index')}?status="+status+"&type="+param;
    }

    //删除一个商品
    function delGood(param){
        if(confirm('当前操作不可恢复,确定要删除?')){
            //$.post("{:url('Goods/delGood')}",{gid:param}, function (dat) {
            $.post("{:url('Goods/changeStatus')}",{gid:param,type:1}, function (dat) {
                var data = JSON.parse(dat);
                alert(data.msg);
                if(data.status == 1){
                    window.location.href = window.location.href;
                }
                return false;
            });
        }
    }

    //删除多个商品
    function delMuchGood(){
        if(confirm('此操作不可恢复,求慎重')){
            var gids = $('input[type=checkbox]:checked');
            var gidsarr = new Array();
            var k=0;
            for (var i = 0; i < gids.length; i++) {
                if (!isNaN(gids[i].value)) {
                    gidsarr[k] = gids[i].value;
                    k++;
                }
            }
            //$.post("{:url('Goods/delGood')}",{gids:gidsarr}, function (dat) {
            $.post("{:url('Goods/changeStatus')}",{gids:gidsarr,type:1}, function (dat) {
                var data = JSON.parse(dat);
                alert(data.msg);
                if(data.status == 1){
                    window.location.href = window.location.href;
                }
                return false;
            });
        }

    }


</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("table tr:odd").css("background","#eeeeee");
    });
</script>