{include file="public/header" /}
<!-- 加载每个页面内容-->
<div class="con">
    <div class="content">
        <div class="hot">
            <img src="__STATIC__/index/images/out.png" alt="out" style="padding-top: 120px;width: 380px;height: 380px;">
            <h1 style="font-weight: normal;font-size: 30px;line-height: 90px;">宝贝不存在或已下架</h1>
            <a href="/" ><input type="button" name="" value="返回首页" style="background: #1a99fb;color: #fff;width: 130px;height: 40px;line-height: 40px;font-size: 18px;"></a>
        </div>
    </div>
</div>
{include file="public/footer" /}