{include file="public/header" /}
<!-- 加载每个页面内容-->
<div class="con">
    <div class="content" style="padding-top: 80px;">
        <div class="news" style="padding-bottom: 61px;">
            <h1>快速通过审核并且赠送积分说明</h1>
            <p class="f14">2017-06-21 12:25</p>
            <div class="gggg" style="text-align: left;margin-top: 20px;">
                <p>感谢您使用并且支持特价客平台，</p>
                <p>请将特价客的使用体验评价发送一篇QQ空间说说和一篇朋友圈，</p>
                <p>只需要对特价客平台客观推荐评价即可，无需特别赞扬！</p>
                <p style="margin-top: 30px;">如下图:</p>
            </div>
            
            <div class="news-content">
                <img src="__STATIC__/index/images/new1.png" alt=""><br/>
                <img src="__STATIC__/index/images/new2.png" alt="">
            </div>
            
            <div class="gggg" style="margin-top: 50px;">
                <p>快速审核通道邮件内容提供：</p>
                <p class="red">1、特价客账号</p>
                <p class="red">2、截图QQ空间和朋友圈内容</p>
                <p>发送到到邮箱 <span style="color: #1a99fb;">mili0101@qq.com</span></p>
                <p>发送邮件后将在当天通过审核，并且赠送<span class="red">10000</span>积分到该账户上，<span class="red">10000积分可以跑10000张9.9元优惠券！</span></p>
              
            </div>
         
        </div>
    </div>        
</div>        
{include file="public/footer" /}