{include file="public/header" /}
<!-- 加载每个页面内容-->
<div class="con">
  <div class="content" style="padding-top: 80px;">
      {include file="public/user_menu" /}
        <div class="fr user-main">

            <div class="basic">
               <a href='#' class="thisclass fl "><img src="__STATIC__/index/images/cz.png" alt="">&nbsp;充值</a>
                
            </div>

            <div class="pay">
              {foreach $charge_price as $key=>$val}
                <div class=" fl pay-box" price="{$key}">
                 <span>{$key}元</span>
                 <p>{$val.score}积分{if $val.give}+{$val.give}积分{/if}</p>  
                 {if $val.give}<img src="__STATIC__/index/images/zeng.png" alt="">{/if}
              </div>

              {/foreach}
              
              <input type="button" name="" value="支付宝充值" class="zfb fl">
            </div>

            <div class="basic">
               <a href='/index/charge/index?type=charge' class="{if $type=='charge'}thisclass{/if} fl a1"><img src="__STATIC__/index/images/mingxi.png" alt="">&nbsp;付款明细</a>
                <a href='/index/charge/index?type=score' class="{if $type=='score'}thisclass{/if} fl a2"><img src="__STATIC__/index/images/jifen-icon.png" alt="">&nbsp;积分明细</a>
            </div>
         
            <div  class="basic-form" >
            
            {if $type == 'charge'}
              <table class="fkmx" border="1" bordercolor="#e8e8e8">
                <thead>
                    <tr>
                        <td>账户</td>
                        <td>支付金额</td>
                        <td>积分</td>
                        <td>充值时间</td>
                         <td>状态</td>
                      </tr>
                </thead>
                <tbody>
                  {foreach $res as $val}
                    <tr>
                      <td>{$login_user.phone}</td>
                      <td>{$val.money}</td>
                      <td>{$val.score + $val.give_score}</td>
                      <td>{$val.create_time|date="Y-m-d H:i:s",###}</td>
                       <td {if $val.status == 3}style="color:red;"{/if}>{$charge_status[$val.status]}</td>
                    </tr>
                  {/foreach}
                </tbody>
              </table>
            {else}
                <table class="fkmx" border="1" bordercolor="#e8e8e8">
                  <thead>
                      <tr>
                          <td>账号</td>
                          <td>积分</td>
                          <td>时间</td>
                          <td>说明</td>
                      </tr>
                  </thead>
                  <tbody>
                    {foreach $res as $val}
                      <tr>
                        <td>{$login_user.phone}</td>
                        <td>{$val.score}</td>
                        <td>{$val.time|date="Y-m-d H:i:s",###}</td>
                         <td>{$score_type[$val.type]}</td>
                      </tr>
                    {/foreach}
                  </tbody>
                </table>
            {/if}
                <div class="page">
                      {$res->render()}
                </div>
            </div>          
                  
        </div>
            <div class="clear"> </div>
           
</div>

<form style="display: none;" id="submit_order" action="#" method="post"></form>
{include file="public/footer" /}

<script type="text/javascript">
  $(function(){
      var basic = $(".basic a");
      basic.click(function(){
          $(this).addClass("thisclass").siblings().removeClass("thisclass");
      });

      var pay = $(".pay .pay-box");
      pay.click(function(){
          $(this).addClass("payclass").siblings().removeClass("payclass");
      });
  });


  /*$(".basic .a1").click(function(){
    $(".xiu-form").hide();
    $(".basic-form").show();
  });

  $(".basic .a2").click(function(){
    $(".xiu-form").show();
    $(".basic-form").hide();
  });*/

  $('.zfb').click(function(){
    if(isSync){
      alert('正在充值,请不要重复提交!');
      return false;
    }

    var price = $('.payclass').attr('price');
    if(!price){
      alert('请选择充值金额');
      return false;
    }
    //isSync  = true;
    

    $.post('/index/charge/submit_order', {price:price}, function(msg){
      if(msg.code == 200){
        $('#submit_order').attr('action', msg.msg);
        $('#submit_order').submit();
      }else{
        alert(msg.msg);
      }
    },"json");
  });
</script>