{include file='public/header' /}
<!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
        <style type="text/css" media="screen">


    table,thead,tbody,tr,td,th{
        text-align: center;
        height: 50px!important;
        line-height: 50px!important;
    }

        
    </style>
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
         <a class="btn btn-primary" href="{:url('User/index',array('status'=>2))}" style="margin-bottom: 16px;margin-left: 16px">封禁列表</a>
                            <button class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target="#con-close-modal" style="margin-bottom: 16px;margin-left: 16px"><font><font>添加用户</font></font></button>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-box">
                            <!--<div class="dropdown pull-right">
                                    <a href="{:url('Menu/addMenu')}" class="card-drop">添加用户</a>
                            </div>-->

                            <h4 class="header-title m-t-0 m-b-30">用户列表(3434)</h4>
                           
                            <p class="text-muted font-13 m-b-25">

                            </p>
                            <div class=" btn-group" >
                                <a href="{:url('User/index')}"  class="btn btn-default buttons-copy buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons">
                                    <span>全部</span>
                                </a>
                                <a href="{:url('User/index',array('type'=>1))}" class="btn btn-default buttons-copy buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons">
                                    <span>普通淘客</span>
                                </a>
                                <a href="{:url('User/index',array('type'=>2))}" class="btn btn-default buttons-csv buttons-html5 btn-sm" tabindex="0" aria-controls="datatable-buttons">
                                    <span>招商淘客</span>
                                </a>
                            </div>
                            <div class="hidden-xs" style="width:215px;right: 20px;position: absolute;top: 42px;" >
                                <form role="search" class="app-search" action="#" method="get">
                                    <input type="text" placeholder="输入账号/QQ/微信" name="keyword" class="form-control">
                                    <a><i class="fa fa-search"></i></a>
                                </form>

                            </div>
                            <div class="table-responsive" style="    margin-top: 20px;">
                                <table class="table m-0" border="1" style="    border: 1px solid #d2d2d2;" >
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>账号</th>
                                        <th>昵称</th>
                                        <th>QQ</th>
                                        <th>积分</th>
                                        <th>最近登录时间</th>
                                        <th>淘宝类型</th>
                                        <!--<th>创建时间</th>
                                        <th>最后登录IP</th>-->
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name='data' id='vo' key="key"}
                                    <tr>
                                        <th scope="row">{$key}</th>
                                        <td>{$vo.phone}</td>
                                        <td>{$vo.nickname}</td>
                                        <td>{$vo.qq}</td>
                                        <td>{$vo.score}</td>
                                        <td>{$vo.login_time|date='Y-m-d H:i:s',###}</td>
                                        <td>{if condition="$vo['type'] eq 1"}普通淘客{else/}招商淘客{/if}</td>
                                        <td>
                                            {if condition="$vo['status'] eq 1"}
                                            <a data-toggle="modal" href="{:url('User/info',array('uid'=>$vo['id']))}" data-target="#modal-info" class="btn btn-primary">修改</a>

                                             <a href="{:url('User/editScore',array('uid'=>$vo['id']))}"  class="btn btn-primary">积分操作</a>
                                            <button onclick="getId({$vo['id']},{$vo['phone']});" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-sm" style="background: #10c469!important;border: none!important;"><font><font>修改密码</font></font></button>
                                            <a href="javascript:void();" onclick="editStatus({$vo['id']});" class="btn btn-inverse" style="background: #e6cb47!important;border: none!important;"> 封禁 </a>
                                            <a onclick="delUser({$vo['id']});"  class="btn btn-primary" style="background: #ff5b5b!important;border: none!important;">删除</a>
                                            {else/}
                                            <a href="javascript:void();" onclick="editStatus({$vo['id']});" class="btn btn-inverse"> 解除封禁 </a>
                                            {/if}

                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                                {$show}
                            </div>
                        </div>
                    </div><!-- end col -->

                </div>
                <!-- end row -->

            </div> <!-- container -->

        </div> <!-- content -->

    </div>


    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<!-- /.modal begin-->
<!--添加用户modal-->
<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">添加用户</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">账号</label>
                                <input type="text" required  name="phone" class="form-control" id="field-1" placeholder="手机号">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-2" class="control-label">密码</label>
                                <input type="password" required name="password" class="form-control" id="field-2" placeholder="密码">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-3" class="control-label">再次输入密码</label>
                                <input type="password" required name="confirmpwd" class="form-control" id="field-3" placeholder="确认密码">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
                    <button type="button" onclick="addUser();" class="btn btn-info waves-effect waves-light">确认提交</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!--修改密码modal-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="mySmallModalLabel">修改【<span id="editphone"></span>】的密码</h4>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-md-12">
                           <label for="field-4" class="control-label">新密码</label>
                           <input type="password" required  name="editPwd" class="form-control" id="field-4" placeholder="确认密码">
                            <input type="hidden" name="editid" value="">
                        </div>
                    </div>
                    <div class="modal-footer" style="border-top: 0">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
                        <button type="button" onclick="editUserPwd();" class="btn btn-info waves-effect waves-light">提交</button>
                    </div>
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!--获取用户详情-->
<div id="modal-info" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
                <div class="modal-body">
                </div>
        </div>
    </div>
</div>
<!-- /.modal end-->

{include file='public/footer' /}

<script type="text/javascript">
    $("#modal-info").on("hidden.bs.modal", function() {
        $(this).removeData("bs.modal");
    });
    $(".bs-example-modal-sm").on("hidden.bs.modal", function() {
        $(this).removeData("bs.modal");
    });
    function editStatus(param){
        //alert(param);
        if(confirm('确定要对此用户进行当前操作吗?')){
            $.get("{:url('User/editStatus')}",{uid:param}, function (dat) {
                var data = JSON.parse(dat);
                alert(data.msg);
                if(data.status == 1){
                    window.location.href = window.location.href;
                }
                return false;
            });
        }
    }
    function delUser(param){
        //alert(param);
        if(confirm('确定删除当前用户?')){
            $.get("{:url('User/delUser')}",{uid:param}, function (dat) {
                var data = JSON.parse(dat);
                alert(data.msg);
                if(data.status == 1){
                    window.location.href = window.location.href;
                }
                return false;
            });
        }
    }

    function addUser(){
        var phone = $('input[name=phone]').val();
        var password = $('input[name=password]').val();
        var confirmpwd = $('input[name=confirmpwd]').val();
        if(phone == '' || password == '' || confirmpwd == ''){
            alert('数据不可为空');return false;
        }
        if(password.length <6){
            alert('密码长度大于6');return false;
        }
        if(password != confirmpwd){
            alert('2次输入的密码不一致');return false;
        }

        $.post("{:url('User/addUser')}",{phone:phone,password:password,confirmpwd:confirmpwd}, function (dat) {
            var data = JSON.parse(dat);
            alert(data.msg);
            if(data.status == 1){
                window.location.href = "{:url('User/index')}";
            }
            return false;
        });
    }

    function getId(param,phone){
        $('input[name=editid]').val(param);
        $('#editphone').html(phone);
    }
    function editUserPwd(){
        var editid =  $('input[name=editid]').val();
        var editpwd = $('input[name=editPwd]').val();
        //alert(editpwd.length);
        if(editpwd == ''||editpwd.length <6){
            alert('密码不可为空且须长度大于6');return false;
        }
        $.post("{:url('User/editUserPwd')}",{editid:editid,editpwd:editpwd}, function (dat) {
            var data = JSON.parse(dat);
            alert(data.msg);
            if(data.status == 1){
                window.location.href = "{:url('User/index')}";
            }
            return false;
        });
    }



</script>
<script type="text/javascript">
    $(document).ready(function(){
        $("table tr:odd").css("background","#eeeeee");
    });
</script>