<style>
    .form-group .radio-primary{
        float: left;margin-right: 22px;
    }
    .form-horizontal .checkbox, .form-horizontal .radio {

        float: left;
        margin-right: 13px;
    }
</style>
<div class="modal-header" style="margin-bottom: 17px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">【{$data.phone}】用户信息修改</h4>
</div>
<div class="row">
    <div class="col-lg-12">
        <form class="form-horizontal" role="form" action="{:url('User/info')}" method="post">
            <div class="form-group">
                <label class="col-md-2 control-label">淘客类型：</label>
                <div class="radio radio-primary" style="padding-left: 30px; margin-right: 80px;">
                    <input id="radio1"  type="radio" value="1" name="type" {if condition="$data.type eq 1"}checked{/if}>
                    <label for="radio1">
                        普通淘客
                    </label>
                </div>
                <div class="radio radio-primary" >
                    <input id="radio2" type="radio" value="2" name="type"  {if condition="$data.type eq 2"}checked{/if}>
                    <label for="radio2">
                        招商淘客 &nbsp;&nbsp;
                        {if condition="$data.type eq 2"}<span style="font-size: 10px;">已发布宝贝 <font style="color: #188ae2;">{$data.goodsnum}</font>  </span>{/if}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" >免审权限：</label>
                <div class="checkbox checkbox-primary"  style="padding-left: 30px;">
                    <input id="goods_type1"  type="checkbox" value="1" name="free_trial[]" {if condition="!empty($data['free_trial']) eq true"}{if condition="in_array(1,$data['free_trial']) eq true"}checked{/if}{/if}>
                    <label for="goods_type1">
                        爆款单
                    </label>
                </div>
                <div class="checkbox checkbox-primary" >
                    <input id="goods_type2" type="checkbox" value="2" name="free_trial[]" {if condition="!empty($data['free_trial']) eq true"}{if condition="in_array(2,$data['free_trial']) eq true"}checked{/if}{/if}>
                    <label for="goods_type2">
                        限时抢购
                    </label>
                </div>
                <div class="checkbox checkbox-primary" >
                    <input id="goods_type3" type="checkbox" value="3" name="free_trial[]" {if condition="!empty($data['free_trial']) eq true"}{if condition="in_array(3,$data['free_trial']) eq true"}checked{/if}{/if}>
                    <label for="goods_type3">
                        直播单
                    </label>
                </div>
                <div class="checkbox checkbox-primary">
                    <input id="goods_type4" type="checkbox" value="4" name="free_trial[]" {if condition="!empty($data['free_trial']) eq true"}{if condition="in_array(4,$data['free_trial']) eq true"}checked{/if}{/if}>
                    <label for="goods_type4">
                        视频单
                    </label>
                </div>
                <div class="checkbox checkbox-primary" >
                    <input id="goods_type5" type="checkbox" value="5" name="free_trial[]" {if condition="!empty($data['free_trial']) eq true"}{if condition="in_array(5,$data['free_trial']) eq true"}checked{/if}{/if}>
                    <label for="goods_type5">
                        过夜单
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">类型：</label>
                <div class="radio radio-primary" style="padding-left: 30px; margin-right: 106px;">
                    <input id="radio-type1" value="2"  {if condition="$data.mtype eq 2"}checked{/if} type="radio" name="mtype">
                    <label for="radio-type1">
                        团队
                    </label>
                </div>
                <div class="radio radio-primary" >
                    <input id="radio-type2"  value="1"  {if condition="$data.mtype eq 1"}checked{/if} type="radio" name="mtype">
                    <label for="radio-type2">
                        个人
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">账号：</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" disabled value="{$data.phone}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">昵称：</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="nickname" value="{$data.nickname}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">QQ：</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="qq" value="{$data.qq}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">微信：</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="wechat" value="{$data.wechat}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">月收入：</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="month_income" value="{$data.month_income}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">积分：</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" disabled value="{$data.score}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">注册时间：</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" disabled value="{$data.create_time|date='Y-m-d H:i:s',###}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">最后登录时间：</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" disabled value="{$data.login_time|date='Y-m-d H:i:s',###}">
                </div>
            </div>
            <!-- <div class="form-group">
                 <label class="control-label col-sm-4">Default Functionality</label>
                 <div class="col-sm-8">
                     <div class="input-group">
                         <input type="text" class="form-control"  id="datepicker">
                         <span class="input-group-addon bg-primary b-0 text-white"><i class="ti-calendar"></i></span>
                     </div>&lt;!&ndash; input-group &ndash;&gt;
                 </div>
             </div>-->
            <div class="form-group">
                <label class="col-md-2 control-label">最后登入IP地址：</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" disabled value="{$data.login_ip}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">团队/个人介绍：</label>
                <div class="col-md-10">
                    <textarea class="form-control" rows="5" name="introduce">{$data.introduce}</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="uid" value="{$data.id}">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-info waves-effect waves-light">提交</button>
            </div>
        </form>
    </div><!-- end col -->

</div>

<script src="__STATIC__/admin/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script>
    jQuery('#datepicker').datepicker();
</script>
