<p>
    <span>第一条直播信息：</span>
    <div class="zhibo-sc">
        <ul>
            <li class="fl ttt" data='1' onclick="tabNav(this,1)">图片</li>
            <li class="fl" data='2' onclick="tabNav(this,2)">视频</li>
        </ul>
        
        <div class="cnt cnt_1" style="display: block;"> 
            <textarea name="" placeholder="请填入文案" class="zhibo-wenan"></textarea>
            <!--图片上传成功加载-->
            <p class="loading">
                <img src="__STATIC__/index/images/success.png" alt="" onclick="$('.load_img1').click();" width="28px" height="20px">&nbsp;&nbsp;
                <!-- <img src="__STATIC__/index/images/loading.gif" alt="" style="width: 20px;height:20px;">&nbsp;&nbsp;图片添加成功&nbsp;&nbsp;
                <img src="__STATIC__/index/images/ca.png" alt=""> -->
            </p>
            <input type="file" onchange="load_img(this)" style="display: none;" class="load_img1">
        </div>
        <div class="cnt cnt_2" style="display: none;"> 
            <textarea name="" placeholder="填写视频地址" class="zhibo-dizhi" ></textarea>
        </div>
    </div>
</p>
<div class="clear"></div>

<p><span>第二条直播信息：</span>
    <div class="zhibo-sc" style="margin-top: 24px;">
        <ul>
            <li class="fl ttt" data='1' onclick="tabNav(this,1)">图片</li>
            <li class="fl" data='2' onclick="tabNav(this,2)">视频</li>
        </ul>
        
        <div class="cnt cnt_1" style="display: block;"> 
            <textarea name="" placeholder="请填入文案" class="zhibo-wenan"></textarea>
            <!--图片上传成功加载-->
            <p class="loading">
                <img src="__STATIC__/index/images/success.png" onclick="$('.load_img2').click();" width="28px" height="20px">&nbsp;&nbsp;
                <!-- <img src="__STATIC__/index/images/loading.gif" alt="" style="width: 20px;height:20px;">&nbsp;&nbsp;图片添加成功&nbsp;&nbsp;
                <img src="__STATIC__/index/images/ca.png" alt=""> -->
            </p>
            <input type="file" onchange="load_img(this)" style="display: none;" class="load_img2">
        </div>
        <div class="cnt cnt_2" style="display: none;"> 
            <textarea name="" placeholder="填写视频地址" class="zhibo-dizhi" ></textarea>
        </div>
    </div>
</p>
<div class="clear"></div>

<p><span>第三条直播信息：</span>
    <div class="zhibo-sc" style="margin-top: 24px;">
        <ul>
            <li class="fl ttt" data='1' onclick="tabNav(this,1)">图片</li>
            <li class="fl" data='2' onclick="tabNav(this,2)">视频</li>
        </ul>
        
        <div class="cnt cnt_1" style="display: block;"> 
            <textarea name="" placeholder="请填入文案" class="zhibo-wenan"></textarea>
            <!--图片上传成功加载-->
            <p class="loading">
                <img src="__STATIC__/index/images/success.png" width="28px" height="20px" onclick="$('.load_img3').click();">&nbsp;&nbsp;
                <!-- <img src="__STATIC__/index/images/loading.gif" alt="" style="width: 20px;height:20px;">&nbsp;&nbsp;图片添加成功&nbsp;&nbsp;
                <img src="__STATIC__/index/images/ca.png" alt=""> -->
            </p>
            <input type="file" onchange="load_img(this)" style="display: none;" class="load_img3">
        </div>
        <div class="cnt cnt_2" style="display: none;"> 
            <textarea name="" placeholder="填写视频地址" class="zhibo-dizhi" ></textarea>
        </div>
    </div>
</p>
<div class="clear"></div>