{foreach $extends as $key=>$val}
<p>
    <span>第{if $key==0}一{elseif $key==1}二{elseif $key==2}三{elseif $key==3}四{else}五{/if}条直播信息：</span>
    <div class="zhibo-sc" {if $key != 0} style="margin-top: 24px;" {/if}>
        <ul>
            <li class="fl {if !$val || $val.type == 1}ttt{/if}" data='1' onclick="tabNav(this,1)">图片</li>
            <li class="fl {if $val && $val.type == 2}ttt{/if}" data='2' onclick="tabNav(this,2)">视频</li>
        </ul>
        
        <div class="cnt cnt_1" style="display: {if !$val || $val.type == 1}block{else}none{/if};"> 
            <textarea name="" placeholder="请填入文案" class="zhibo-wenan">{if $val && $val.type == 1}{$val.content}{/if}</textarea>
            <!--图片上传成功加载-->
            <p class="loading">
                <img src="{if $val && $val.type == 1}{$val.url}{else}__STATIC__/index/images/success.png{/if}" alt="" onclick="$('.load_img{$key}').click();" width="28px" height="20px">&nbsp;&nbsp;
                <!-- <img src="__STATIC__/index/images/loading.gif" alt="" style="width: 20px;height:20px;">&nbsp;&nbsp;图片添加成功&nbsp;&nbsp;
                <img src="__STATIC__/index/images/ca.png" alt=""> -->
            </p>
            <input type="file" onchange="load_img(this)" style="display: none;" class="load_img{$key}">
        </div>
        <div class="cnt cnt_2" style="display: {if $val && $val.type == 2}block{else}none{/if};"> 
            <textarea name="" placeholder="填写视频地址" class="zhibo-dizhi" >{if $val && $val.type == 2}{$val.url}{/if}</textarea>
        </div>
    </div>
</p>
<div class="clear"></div>

{/foreach}