.con .content .team{
	width: 220px;
	height: 307px;
	border-radius: 10px;
	background: #fff;
}
.team-head{
	width: 100%;
	height: 247px;
	text-align: center;

}
.team-head img{
	border-radius: 50%;
	margin-top: 52px;
}
.team-head p span{
	background: #1a99fb;
	color: #fff;
	border-radius: 2px;
	    padding: 3px 6px;
}
.team-dec{
	width: 100%;
	height: 60px;
	text-align: center;
	background: #e8e8e8;
}
.team-dec .time{
	width: 110px;
	height: 60px;
	border-right: 1px  solid #ccc;
}
.team-dec .line{
	width: 109px;
	height: 60px;
	
}