{include file="public/header" /}
<!-- 加载每个页面内容-->
<div class="con">
    <div class="content" style="padding-top: 80px;">
        {include file="public/user_menu" /}
        <div class="fr user-main">
            <div class="loader" style="width: 500px;margin: 0 auto;text-align: center;    margin-top: 126px;">
                <img src="__STATIC__/index/images/defeat.png" alt="">
            </div>
            <p class="kuai f20">审核失败<a href="/index/user/apply.html" style="color: #1a99fb">&nbsp;点击返回招商申请页面</a></p>
            <p class="kuai f16">失败原因：QQ未使用常用号</p>
        </div>
    </div>
    
    <div class="clear"></div>
</div>

<div id="flyItem" class="fly_item"><img src="__STATIC__/index/images/sc.png" width="40" height="40"></div>
{include file="public/footer" /}