{include file="public/header" /}
<!-- 加载每个页面内容-->
<div class="con">
    <div class="content" style="padding-top: 80px;">
        {include file="public/user_menu" /}
        <div class="fr user-main">
            <div class="loader" style="width: 500px;margin: 0 auto;text-align: center;    margin-top: 126px;">
                <div class="loader-inner semi-circle-spin">
                    <p style="position: absolute;left: 68px;top: 95px;font-size: 46px;">审核中</p>
                    <div style="background: url(/static/index/images/shenh.png)no-repeat center center;background-size: cover;position: relative;"></div>
                </div>
            </div>
            <p class="kuai">快速通过审核，并赠送积分秘笈<a href="/index/news/zs_news.html" style="color: #1a99fb">&nbsp;查看</a></p>
        </div>
    </div>
    
    <div class="clear"></div>
</div>

<div id="flyItem" class="fly_item"><img src="__STATIC__/index/images/sc.png" width="40" height="40"></div>
{include file="public/footer" /}