{include file="public/header" /}
<!-- 加载每个页面内容-->
<div class="con">
    <div class="content" style="padding-top: 80px;">
        {include file="public/user_menu" /}
        <div class="fr user-main">
            <div class="connnn">
                <h1><img src="__STATIC__/index/images/sqgl.png" alt="">&nbsp;授权管理</h1>
                <p>
                    {if $taobao_account}
                        您已授权登录淘宝账号:
                    {else}
                        您先输入要授权登录淘宝账号:
                    {/if}
                    <input type="text" id='taobao_account' value="{if $taobao_account}{$taobao_account}{/if}" placeholder="淘宝帐号,请不要输入淘宝昵称" class="geshi" style="width: 180px;">
                    <input type="button" name="" value="{if $taobao_account}更新{/if}授权" class="gengxin" onclick="check_auth()">
                </p>
            </div>
            
            <div class="line"></div>
            
            <div class="connnn">
                <h1><img src="__STATIC__/index/images/pid.png" alt="">&nbsp;PID管理</h1>
                <p>
                    PID <input type="text" placeholder="格式：mm_16356866_15776385_60028576" class="geshi" id="pid" value="{if $pids}{$pids.pid}{/if}">
                    <input type="button" name="" value="确定" class="gengxin" onclick="save_pid()">
                </p>
                <p class="shuoming">说明：以上授权登录的淘宝账号和下面PID一定要是同一账户，这样才会是高佣</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>        
</div>
<div id="flyItem" class="fly_item"><img src="__STATIC__/index/images/sc.png" width="40" height="40"></div>

<!--弹出框-->
<div class="lbOverlay"  onclick="closeDiv()"></div>

<div class="hidden_pro_au tanchu" style="width: 760px;height: 550px;">
    <img src="__STATIC__/index/images/close.png" alt=""  class="close" onclick="closeDiv()">
    <h1>更新授权</h1>
    <div style="width:100%;">
        <iframe scrolling="no" allowtransparency="true" id="auth_frame" frameborder="0" src="" style="height: 450px;width:100%;">
        </iframe>
    </div>
</div>

{include file="public/footer" /}

<script type="text/javascript">
    $(function(){
        $(window).scroll(function(){
            var top = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop;
            $(".hidden_pro_au").css({
                    "top": (document.documentElement.clientHeight/2 + top - $(".hidden_pro_au").css("height").replace("px","")/2 )+"px",
                    "left":($(window).width() - $(".hidden_pro_au").css("width").replace("px",""))/2 +"px"
                });
        })
    })

    function check_auth(){
        var taobao_account = $('#taobao_account').val();
        if(!taobao_account){
            alert('请先输入淘宝帐号，再点击授权!');
            return false;
        }

        $.post('/index/user/check_auth',{taobao_account:taobao_account},function(msg){
            if(msg.code == 200){
                $('#auth_frame').attr('src', msg.msg);
                //window.location.href = msg.msg;
                show();
            }else{
                alert(msg.msg);
            }
        },"json")
    }

    function save_pid(){
        var pid     =   $('#pid').val();
        if(!pid){
            alert('请输入PID！');
            $('#pid').select();
            return false;
        }

        $.post('/index/user/save_pid', {pid:pid}, function(msg){
            alert(msg.msg);
        },"json");
    }

    function show(){
        $(".lbOverlay").css({"height":window.screen.availHeight});
        $(".lbOverlay").show();
     
        var st=$(document).scrollTop(); //页面滑动高度
        var objH=$(".hidden_pro_au").height();//浮动对象的高度
        var ch=$(window).height();//屏幕的高度  
        var objT=Number(st)+(Number(ch)-Number(objH))/2;   //思路  浮动高度+（（屏幕高度-对象高度））/2
        $(".hidden_pro_au").css("top",objT);
         
        var sl=$(document).scrollLeft(); //页面滑动左移宽度
        var objW=$(".hidden_pro_au").width();//浮动对象的宽度
        var cw=$(window).width();//屏幕的宽度  
        var objL=Number(sl)+(Number(cw)-Number(objW))/2; //思路  左移浮动宽度+（（屏幕宽度-对象宽度））/2
        $(".hidden_pro_au").css("left",objL);
        $(".hidden_pro_au").slideDown("20000");//这里显示方式多种效果
    }

    function closeDiv(){
        $(".lbOverlay").hide();
        $(".hidden_pro_au").hide();
    }
</script>