{include file="public/header" /}
<link rel="stylesheet" href="__STATIC__/index/css/common.css">
<link type="text/css" href="__STATIC__/index/css/jquery-ui-1.8.16.custom.css" rel="stylesheet"  />
<!--   <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script> -->
<!--   <link rel="stylesheet" href="/css/font-awesome.min.css"> -->
<script  language="javascript" type="text/javascript" src="__STATIC__/index/js/jquery-1.4.2.min.js"></script>
<style type="text/css" media="screen">
    .magic-radio + label:before, .magic-checkbox + label:before {
        top: 6px;
        left: 14px;
        width: 16px;
        height: 16px;
    }
    .magic-radio + label:before, .checkall + label:before {
        top: 11px;
        left: -2px;
        width: 16px;
        height: 16px;

    }
    .checkall + label:after {
        top: 13px!important;
        left: 5px!important;


    }
    .magic-checkbox + label:after {
        top: 8px;
        left: 21px;


    }

    .magic-radio + label:before, .che-checkbox + label:before {
        top: 6px;
        left: -3px;
        width: 16px;
        height: 16px;
    }
    .che-checkbox + label:after {
        top: 8px;
        left: 4px;
    }
</style>
</head>
<!-- 加载每个页面内容-->
<div class="con">
    <div class="content" style="padding-top: 80px;">
        {include file="public/user_menu" /}
        <div class="fr user-main">
            <div class="basic">
                <a href="{:url('Collect/index')}?action=collect" class="{if condition='$action eq "collect"'}thisclass{/if} fl a1" style="width: 200px;"><img src="__STATIC__/index/images/qbsc-icon.png" alt="">&nbsp;全部收藏({$collect_count})</a>
                <a href="{:url('Collect/index')}?action=spread" class="{if condition='$action eq "spread"'}thisclass{/if} fl a2" style="width: 200px;"><img src="__STATIC__/index/images/tui-icon.png" alt="">&nbsp;推广列表({$spread_count})</a>
            </div>
            <!--推广列表-->
            <div  class="tui-list" style="display: block;">
                <form action="#" method="get" id="typesubmit">
                    <ul class="duoxuan magic-type">
                        <!--1爆款单2限时抢购3过夜单4直播单5视频单-->
                        <li>
                            <input class="magic-checkbox" type="checkbox"  id="c6" {if condition="in_array(1,$type_arr) eq true"}checked{/if} value="1">
                            <label for="c6">爆款单</label>
                        </li>
                        <li>
                            <input class="magic-checkbox" type="checkbox" id="c7" {if condition="in_array(2,$type_arr) eq true"}checked{/if} value="2">
                            <label for="c7">  &nbsp;  &nbsp;限时抢购</label>
                        </li>
                        <li>
                            <input class="magic-checkbox" type="checkbox"  id="c8" value="4" {if condition="in_array(4,$type_arr) eq true"}checked{/if}>
                            <label for="c8">直播单</label>
                        </li>
                        <li>
                            <input class="magic-checkbox" type="checkbox"  id="c9" value="5" {if condition="in_array(5,$type_arr) eq true"}checked{/if}>
                            <label for="c9">视频单</label>
                        </li>
                        <li>
                            <input class="magic-checkbox" type="checkbox"  id="c10" value="3" {if condition="in_array(3,$type_arr) eq true"}checked{/if}>
                            <label for="c10">过夜单</label>
                        </li>
                        <li>
                            <input type="hidden" name="action" value="{$action}">
                            <input type="hidden" name="type" value="">
                            <button type="button" style="color: #fff;background: #1a99fb;width: 74px;height: 26px;line-height: 28px; border-radius: 7px; font-size: 12px;border: none;" id="getType">确定提交</button>
                        </li>
                    </ul>
                </form>

                <div class="quanxuan">
                    <p class="fl f18">
                        <input class="magic-checkbox checkall" type="checkbox" name="layout" id="c12" onclick = "choise2(this.checked)">
                        <label for="c12">全选
                            <!--<span class="f14">共<i>20</i>件</span>-->
                        </label>
                    </p>
                    <p class="fr">
                        <input type="button" name="" value="清空" class="qingk" id="qingk">
                        {if condition='$action eq "collect"'}
                        <input type="button" name="" value="加入推广" class="add" onclick="show()">
                        {/if}
                    </p>
                </div>
                <form  id="idsubmit">
                    {volist name="list" id="vo"}
                    <div class="box-content">
                        <div class="hhhh">
                            <div class="fl che getgid">
                                <!--  <input type="checkbox" name = "nobby" checked="checked"> -->

                                <input class="magic-checkbox che-checkbox" value="{$vo.id}" type="checkbox"  name="gid[]"   id="check{$vo.id}" >
                                <label for="check{$vo.id}"> </label>


                            </div>
                            <div class="pic-img fl"><img src="__STATIC__/index/images/zhibopic.png" alt=""></div>
                            <div class="box-title fl">
                                <p class="f14"><img src="__STATIC__/index/images/tao.png" alt="">{$vo.short_title}</p>
               <span class="ban f14"><img src="__STATIC__/index/images/tao.png" alt="" style="width:20px;height: 20px;">
                  {if condition="$vo['type'] eq 1"}
                   <img src="__STATIC__/index/images/BAO.png" alt="">
                        {elseif condition="$vo['type'] eq 2"}
                   <img src="__STATIC__/index/images/XIAN.png" alt="">
                        {elseif condition="$vo['type'] eq 3"}
                   <img src="__STATIC__/index/images/YE.png" alt="">
                        {elseif condition="$vo['type'] eq 4"}
                   <img src="__STATIC__/index/images/BO.png" alt="">
                        {elseif condition="$vo['type'] eq 5"}
                   <img src="__STATIC__/index/images/SHI.png" alt="">
                    {/if}
               </span>
                            </div>
                            <div class="box-price fl">
                                <p>￥{$vo.real_money}<br/><i class="back f12">{$vo.price}</i></p>
                            </div>

                            <div class="box-quan fl">
                                <p class="quan f12">￥{$vo.coupon_money}</p>
                                <p class="f12 yu">剩余 <i>{$vo.coupon_total_num-$vo.coupon_apply_num}</i>／{$vo.coupon_total_num} </p>
                                <p class="f12 yu">到期 <i>{$vo.end_time|date='Y-m-d',###}</i></p>
                            </div>
                            <div class="box-price fl">
                                <p><span class="f14">佣金：</span>{$vo.taoke_money_percent}%<br/><i class="back f12">计划 30%</i></p>
                            </div>
                            <div class=" box-btn fl">
                                {if condition="$vo.is_spread eq 0"}
                                <input type="button" name="" value="推广" class="more">
                                {/if}
                                <input type="button" value="删除" class="delete" onclick="delgc({$vo.id})" >

                            </div>
                            <div class="clear">

                            </div>
                        </div>
                        <p class="fl time f12 " style="margin-left: 20px;color: #1a99fb">
                            {if condition="$vo.is_spread eq 1"}
                            <img src="__STATIC__/index/images/tuiguangcg.png" alt="">&nbsp;推广成功</p>
                        {elseif condition="$vo.is_spread eq 2"}
                        <img src="__STATIC__/index/images/tuiguang-shibai.png" alt="">&nbsp;推广失败  原因：{$vo.remark}
                        {/if}
                        </p>

                        <p class="fr time f12">发布时间：{$vo.start_time|date="Y-m-d H:i:s",###}</p>
                    </div>
                    {/volist}
                </form>
                <div class="page" style="margin-bottom: 30px;">
                    {$show}
                </div>

                <div class="E-tui">
                    <h1>以下软件已经支持获取推广列表</h1>
                    <p style="    margin-top: 10px;"><span>E推软件</span></p>

                </div>
                <p class="f12 red" style="    line-height: 35px;    text-indent: 20px;">* 其他软件开发团队需要接入请联系我们！</p>
            </div>
        </div>
    </div>
    <div class="clear">   </div>
</div>
<div id="flyItem" class="fly_item">
    <img src="__STATIC__/index/images/sc.png" width="40" height="40">
</div>
<footer>
    <div class="footer-content">
        <div class="fl waper">
            <img src="__STATIC__/index/images/logo.png" alt="">
            <ul>
                <li>
                    <a href="/user/user.html" target="_blank">
                        个人中心
                    </a>
                </li>
                <li>
                    <a href="/user/collect.html" target="_blank">
                        我的收藏
                    </a>
                </li>
                <li>
                    <a href="/user/fbtg.html" target="_blank">
                        放单后台
                    </a>
                </li>

                <li>
                    <a href="/user/api.html" target="_blank">
                        开放API
                    </a>
                </li>
                <li>
                    <a href="/user/setting.html" target="_blank">
                        联盟设置
                    </a>
                </li>
                <li>
                    <a href="/index/news.html" target="_blank">
                        联系我们
                    </a>
                </li>
            </ul>
        </div>
        <div class="fl shu">
        </div>
        <div class="fl follow">
            <h1>
                特价客的单子至少可以提升你3倍以上的收入
            </h1>
            <p class="f12">
                特价客CopyRight 2017粤ICP备15077059号-4
            </p>
        </div>
        <div class="clear">
        </div>
    </div>
</footer>
<!--置顶-->
<div id="scroll">
</div>
<!--弹出框-->
<div class="lbOverlay"  onclick="closeDiv()"></div>

<div class="hidden_pro_au tanchu">
    <img src="__STATIC__/index/images/close.png" alt=""  class="close" onclick="closeDiv()">
    <h1>推广选择</h1>
    <p class="er f12">开始推送时间：<input type="text"  value="2017-07-06 12:25" id="time"></p>
    <p class="san"><input type="button" name="" value="确定" class="fr"></p>
</div>

<!--收藏 商品数量 quick_links.js控制-->
<div class="mui-mbar-tabs" id="sc">
    <div class="quick_links_panel">
        <div id="quick_links" class="quick_links">
            <li id="shopCart">
                <a href="#" class="message_list">
                            <span class="cart_num">
                                0
                            </span>
                </a>
            </li>
        </div>
    </div>
</div>


</body>


<script  language="javascript" type="text/javascript" src="__STATIC__/index/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/common.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/quick_links.js"></script>
<!--[if lte IE 8]><script src="__STATIC__/index/js/ieBetter.js"> </script><![endif]-->
<script type="text/javascript" src="__STATIC__/index/js/parabola.js"></script>

<script  language="javascript" type="text/javascript" src="__STATIC__/index/js/jquery-ui-1.8.16.custom.min.js" charset='gb2312'></script>
<script language="javascript" type="text/javascript" src="__STATIC__/index/js/jquery-ui-timepicker-addon.js" charset='gb2312'></script>
<script language="javascript" type="text/javascript" src="__STATIC__/index/js/jquery.ui.datepicker-zh-CN.js" charset='gb2312'></script>
<script type="text/javascript">
    //时间选择器
    $(function(){
        $("#time").datetimepicker({
            changeYear : true,
            changeMonth : true,
            showSecond : true,
            timeFormat : 'hh:mm:ss',
            dateFormat : 'yy-mm-dd',
            stepHour : 1,
            stepMinute : 1,
            stepSecond : 1
        });
    });
</script>

<script type="text/javascript">
    //置顶
    // 获取置顶对象
    var obj = document.getElementById('scroll');
    //获取类型
    $(function () {
        $('#getType').click(function(){
            //alert(window.location.href);return false;
            //alert(this.value);
            var type = $('.magic-type input[type=checkbox]:checked');
            //var type = $('.magic-type input[name=layout[]]:checked');
            var type_val = new Array();
            for(var i=0;i<type.length;i++){
                type_val[i] = type[i].value;
            }
            if(type_val == null || type_val == ''){
                alert('选择要查看的类型');return false;
                //给爆款单添加checked
            }
            var typeval = type_val.join(",");
            $('input[name=type]').val(typeval);
            $('#typesubmit').submit();
        });

        $('#qingk').click(function () {
            var gids = $('.getgid input[type=checkbox]:checked');
            var gids_val = new Array();
            for(var i=0;i<gids.length;i++){
                gids_val[i] = gids[i].value;
            }
            if(gids_val == null || gids_val == ''){
                alert('选择要删除的收藏数据');return false;
                //给爆款单添加checked
            }
            if(confirm('确定要删除当前当前数据？')){
                $.post("{:url('Collect/clear')}",{gcids_arr:gids_val},function(dat){
                    var data = JSON.parse(dat);
                    alert(data.msg);
                    if(data.code == 1){
                        window.location.href = window.location.href;
                    }
                });
            }
        });
    });
    function delgc(param){
        if(confirm('确定要删除当前当前数据？')){
            $.get("{:url('Collect/clear')}",{gcid:param},function(dat){
                var data = JSON.parse(dat);
                alert(data.msg);
                if(data.code == 1){
                    window.location.href = window.location.href;
                }
            });
        }
    }

    // 置顶对象点击事件
    obj.onclick = function() {
        var timer = setInterval(function() {
                    window.scrollBy(0, -50);
                    if (document.body.scrollTop == 0) {
                        clearInterval(timer);
                    };
                },
                30);
    }

    // 窗口滚动检测
    window.onscroll = function() {
        obj.style.display = (document.body.scrollTop >= 300) ? "block": "none";

    }


    //图片懒加载
    var imgLoad = lazyload.init({
        anim: true,
        selectorName: ".lazy"
    });

    //收藏全选
    function choise(value)
    {
        var checkBoxs = document.getElementsByName("hobby");
        for (var i = 0;i < checkBoxs.length ;i++ )
        {
            if(checkBoxs[i].type == "checkbox")
            {
                checkBoxs[i].checked = value;
                $('.collect-box .hhhh').css('background',' #fafafa');
            }

        }
    }
    //列表全选
    function choise2(value)
    {
        var checkBoxs = document.getElementsByName("gid[]");
        for (var i = 0;i < checkBoxs.length ;i++ )
        {
            if(checkBoxs[i].type == "checkbox")
            {
                checkBoxs[i].checked = value;
                $('.tui-list .hhhh').css('background',' #fafafa');
            }


        }
    }


</script>

<script>

    function show(){
        $(".lbOverlay").css({"height":window.screen.availHeight});
        $(".lbOverlay").show();

        var st=$(document).scrollTop(); //页面滑动高度
        var objH=$(".hidden_pro_au").height();//浮动对象的高度
        var ch=$(window).height();//屏幕的高度
        var objT=Number(st)+(Number(ch)-Number(objH))/2;   //思路  浮动高度+（（屏幕高度-对象高度））/2
        $(".hidden_pro_au").css("top",objT);

        var sl=$(document).scrollLeft(); //页面滑动左移宽度
        var objW=$(".hidden_pro_au").width();//浮动对象的宽度
        var cw=$(window).width();//屏幕的宽度
        var objL=Number(sl)+(Number(cw)-Number(objW))/2; //思路  左移浮动宽度+（（屏幕宽度-对象宽度））/2
        $(".hidden_pro_au").css("left",objL);
        $(".hidden_pro_au").slideDown("20000");//这里显示方式多种效果
    }
    function closeDiv(){
        $(".lbOverlay").hide();
        $(".hidden_pro_au").hide();
    }

    $(document).ready(function(){
        $(window).scroll(function(){
            var top = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop;
            $(".hidden_pro_au").css({
                "top": (document.documentElement.clientHeight/2 + top - $(".hidden_pro_au").css("height").replace("px","")/2 )+"px",
                "left":($(window).width() - $(".hidden_pro_au").css("width").replace("px",""))/2 +"px"
            });
        })

    })
</script>
</html>